.c-action-triggers {
  &__body {
    display: flex;
    &--list {
      flex: 0 0 30%;
      flex-grow: 1;
    }
    &--edit {
      flex-grow: 1;
      height: calc(100vh - 170px);
      overflow: auto;
    }
  }
}
