:host {
  position: absolute;
  top: 10px;
  bottom: 0;
}

.c-timeline-playhead {
  display: flex;

  &__label {
    color: white;
    background-color: deeppink;
  }

  &__bar {
    height: 100%;
    width: 2px;
    background-color: deeppink;
  }
}
