.c-header {
  --text-color: var(--white-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  height: 70px;

  &__main-menu {
    flex: 1;
    width: 100%;
    text-align: right;

    a {
      color: var(--text-color);
      padding: 1em;
      font-size: medium;
    }
  }

  &__logo-header {
    font-weight: lighter;
  }

  &__nav-item {
    font-weight: lighter;
  }

  &__nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  & .logo-link {
    text-decoration: none;
  }
}

