<mat-toolbar class="c-header">
  <mat-toolbar-row>
    <a sofieLink [routerLink]="[Paths.HOME]" [isRelativeToActivatedRoute]="false">
      <sofie-logo [text]="title"></sofie-logo>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="c-header__main-menu">
    <mat-nav-list>
      <a class="c-header__nav-item" i18n>header-component.rundowns.label</a>
      <a class="c-header__nav-item" sofieLink [routerLink]="[Paths.STATUS]" [isRelativeToActivatedRoute]="false" i18n>header-component.status.label</a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="c-header__nav-item" sofieLink [routerLink]="[Paths.SETTINGS]" [isRelativeToActivatedRoute]="false" i18n>rundown-overview.settings.title</a>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>
