.c-settings {
  min-height: calc(100vh - 70px);
  border-top: 1px solid var(--white-color);
  display: flex;
  &__content {
    flex-grow: 1;
    background-color: var(--gray-color);
  }
  &__menu {
    flex: 0 0 14rem;
  }
}
