:host {
  display: inline-block;
  background-color: #777777;
  padding: 14px;

  width: 130px;
  height: 100px;

  border-radius: 8px;

  color: white;

  font-size: 0.9rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px black;

  cursor: pointer;
  transition: background-color .2s;

  &.camera {
    background-color: #005919;
  }

  &.video-clip {
    background-color: #1769ff;
  }

  &:active {
    background-color: #888888;
  }
}
