<div class="pt-2 pb-2">
  <sofie-row class="mb-1">
    <label *ngIf="label">{{ label }}<sofie-required-mark *ngIf="isRequired"></sofie-required-mark></label>
    <sofie-icon-button *ngIf="helpText" [tooltip]="helpText" [icon]="Icon.CIRCLE_QUESTION" [iconSize]="IconSize.M"></sofie-icon-button>
  </sofie-row>
  <div class="input">
    <input
      (focus)="markFirstKey()"
      (focusout)="markAsTouched()"
      [readOnly]="true"
      (keydown)="registerKey($event)"
      [placeholder]="placeholder ?? label"
      [value]="value ?? [] | formatKeyboardKeys" />
      <sofie-icon-button *ngIf="!!value && value.length > 0" [icon]="Icon.X_MARK" (click)="clearValue()"></sofie-icon-button>
  </div>
  <sofie-error-message *ngIf="errorMessage">{{ errorMessage }}</sofie-error-message>
</div>
