div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: lighter;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--gray-color);
  color: var(--dark-color);
}
