<div class="c-side-bar">
  <div class="c-side-bar__nav-item">
    <a routerLinkActive="active-tab" [routerLink]="[settingsPaths.KEYBOARD_MAPPINGS]" i18n>settings.keyboard-mappings.label</a>
  </div>
  <div class="c-side-bar__nav-item">
    <a routerLinkActive="active-tab" [routerLink]="[settingsPaths.CLEAR_CACHE]" i18n>settings.clear-cache.label</a>
  </div>
  <div class="c-side-bar__nav-item">
    <a routerLinkActive="active-tab" [routerLink]="[settingsPaths.SHELF]" i18n>settings.shelf.label</a>
  </div>
  <div *ngIf="isShelfRouteActive" class="c-side-bar__nav-submenu">
    <div class="c-side-bar__nav-submenu--item">
      <a routerLinkActive="active-tab" [routerLink]="[settingsPaths.SHELF, shelfPaths.ACTION_PANELS]" i18n>settings.shelf.action-panels.label</a>
    </div>
  </div>
</div>
