<sofie-spacer></sofie-spacer>

<div class="subheader-panel">
    <span class="subheader-panel__label">Part countdown</span>
    <span class="subheader-panel__value">00:04</span>
</div>

<div class="subheader-panel">
    <span class="subheader-panel__label">Segment countdown</span>
    <span class="subheader-panel__value">00:12</span>
</div>

<div class="subheader-panel">
    <span class="subheader-panel__label">Segment timer</span>
    <span class="subheader-panel__value">00:08</span>
</div>

<div class="subheader-panel end-words">
    <span class="subheader-panel__label">End words</span>
    <span class="subheader-panel__value">{{ endWords }}</span>
</div>

<sofie-spacer></sofie-spacer>
