.left-container {
  display: block;
  width: 300px;
}

.selected-action {
  font-weight: lighter;
}

.keyboard-toggle-container {
  display: flex;
  align-items: center;
}

.keyboard-toggle-container button {
  margin-left: 10px;
}

.floating-keyboard {
  position: absolute;
  top: 250px;
  left: 25%;
  width: 74%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
  z-index: 100;
}

.sofie-virtual-keyboard {
  display: flex;
}
