<sofie-row class="mb-3">
  <form [formGroup]="actionTriggerForm" class="left-container">
    <div [formGroupName]="'data'">
      <sofie-text-input
        i18n-label
        label="global.label"
        [formControlName]="'label'">
      </sofie-text-input>
      <sofie-keyboard-input
        [isRequired]="true"
        i18n-label
        label="action-triggers.shortcut.label"
        [formControlName]="'keys'"
        i18n-errorMessage
        errorMessage="action-triggers.shortcut.error">
      </sofie-keyboard-input>
      <sofie-button-group>
        <sofie-button #toggleButton (click)="toggleKeyboardVisibility()" i18n>
          edit-keyboard-mapping.toggle-virtual-keyboard.button
        </sofie-button>
        <sofie-spacer></sofie-spacer>
      </sofie-button-group>
      <div  class="wrapper">
        <div *ngIf="isKeyboardVisible" class="floating-keyboard">
          <sofie-virtual-keyboard class="sofie-virtual-keyboard" (keyPressed)="buildKeyCombo($event)" [keyBindings]="keyBindings" [keystrokes]="keystrokes"></sofie-virtual-keyboard>
        </div>
      </div>
    
      <sofie-keyboard-input
        i18n-label
        label="action-triggers.physical-mapping.label"
        [formControlName]="'mappedToKeys'"
        i18n-helpText
        helpText="action-triggers.physical-mapping-help.tooltip">
      </sofie-keyboard-input>
      <sofie-color-picker
        i18n-label
        label="action-triggers.override-color.label"
        i18n-placeholder
        placeholder="color-picker.choose-color.placeholder"
        i18n-helpText
        helpText="action-triggers.override-color.help-text"
        [formControlName]="'overrideColor'">
      </sofie-color-picker>
      <sofie-select
        i18n-label
        label="action-triggers.trigger-on.label"
        [formControlName]="'triggerOn'"
        [options]="triggerOnOptions"
        [isRequired]="true"
        i18n-errorMessage
        errorMessage="action-triggers.trigger-on.error">
      </sofie-select>
      <div class="selected-action mb-1">
        <ng-container i18n>action-triggers.selected-action.label</ng-container>
        <sofie-required-mark></sofie-required-mark>
      </div>
      <ng-container *ngIf="selectedAction; else noSelectedAction" [ngTemplateOutlet]="actionArguments"></ng-container>
    
      <ng-container *ngIf="doesSelectedActionHaveActionArguments()">
        <ng-container [ngSwitch]="getSelectedActionArgumentType()">
          <sofie-text-input
            *ngSwitchCase="ActionArgumentSchemaType.STRING"
            [label]="selectedAction?.argument?.name!"
            [formControlName]="'actionArguments'"
            [helpText]="selectedAction?.argument?.description!"
            [isRequired]="true"
            [errorMessage]="selectedActionErrorMessage">
          </sofie-text-input>
          <sofie-number-input
            *ngSwitchCase="ActionArgumentSchemaType.NUMBER"
            [label]="selectedAction?.argument?.name!"
            [formControlName]="'actionArguments'"
            [helpText]="selectedAction?.argument?.description!"
            [isRequired]="true"
            [errorMessage]="selectedActionErrorMessage">
          </sofie-number-input>
        </ng-container>
      </ng-container>
    </div>
    
  </form>
  <sofie-action-selector [selectedAction]="selectedAction" (actionSelected)="selectAction($event)" class="ps-5"> </sofie-action-selector>
</sofie-row>
<sofie-button-group>
  <sofie-button (click)="cancel()" i18n>global.close.button</sofie-button>
  <sofie-spacer></sofie-spacer>

  <sofie-button *ngIf="!keyboardMapping" (click)="saveAndRemainOpen()" type="STANDARD" [isDisabled]="!actionTriggerForm.valid" [tooltip]="invalidControlsErrorMessage" i18n
    >common.save-and-create-new</sofie-button
  >
  <sofie-button (click)="saveAndClose()" [type]="'PRIMARY'" [isDisabled]="!actionTriggerForm.valid" [tooltip]="invalidControlsErrorMessage" i18n>common.save</sofie-button>
</sofie-button-group>

<ng-template #actionArguments>
  <sofie-row>
    <sofie-action-box [action]="selectedAction!"></sofie-action-box>
    <div class="selected-action-description ps-1">
      {{ selectedAction!.description }}
    </div>
  </sofie-row>
</ng-template>

<ng-template #noSelectedAction>
  <sofie-row>
    <span i18n>action-triggers.no-selected-action.label</span>
  </sofie-row>
</ng-template>
