.c-header {
  height: 90%;
  min-width: 100%;
  background: #252627;

  &--active {
    background: #761912;
  }
}

.c-information-row {
  padding: 5px;

  &-left {
    display: flex;
    float: left;
    gap: 20px;

    &__rundown-name {
      padding: 20px;
      color: white;
      font-weight: normal;
    }

    &__logo {
      cursor: pointer;
    }
  }

  &-right {
    display: flex;
    float: right;
    gap: 80px;

    &__exit {
      color: white;
    }
  }
}

.c-panel-card {
  color: white;

  &__description {
    font-size: small;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__rundown-property {
    font-weight: bold;
  }
}
