<div [cdkContextMenuTriggerFor]="contextMenu" class="c-rundown-header" [class.c-rundown-header--active]="rundown.isActive">
    <ng-template #contextMenu>
        <sofie-rundown-header-context-menu class="c-context-access-surface" [rundown]="rundown"> </sofie-rundown-header-context-menu>
    </ng-template>

    <sofie-logo></sofie-logo>
    <sofie-rundown-header-panel [label]="rundownPath">{{rundownName}}</sofie-rundown-header-panel>
    <sofie-spacer></sofie-spacer>
    <sofie-rundown-header-panel label="Show Style Variant">{{setupName}}</sofie-rundown-header-panel>
    <sofie-rundown-header-panel label="Schema">{{schema}}</sofie-rundown-header-panel>
    <sofie-rundown-header-panel label="Design">{{design}}</sofie-rundown-header-panel>
    <sofie-rundown-header-panel label="Local Time">{{currentLocalDate | date: 'H:mm:ss'}}</sofie-rundown-header-panel>

    <a class="exit-button" title="Exit" routerLink="/rundowns">
        <svg aria-hidden="true" width="1.500em" height="1.500em" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 10.5858l6.2929-6.29289 1.4142 1.41421L13.4142 12l6.2929
               6.2929-1.4142 1.4142L12 13.4142l-6.29288 6.2929-1.41421-1.4142L10.5858
                12 4.29291 5.70712l1.41421-1.41421L12 10.5858z">
            </path>
        </svg>
    </a>
</div>
