<sofie-sidebar-container [title]="'Edit Action Panel'">
    <form [formGroup]="form" class="mb-3">
        <sofie-text-input [label]="'Panel name'" [formControlName]="'name'"></sofie-text-input>
        <sofie-number-input [label]="'Rank'" [formControlName]="'rank'"></sofie-number-input>
    </form>

    <sofie-button-group>
        <sofie-button (click)="cancel()">Cancel</sofie-button>
        <sofie-spacer></sofie-spacer>
        <sofie-button (click)="save()" [type]="'PRIMARY'" [disabled]="!form.valid">Save</sofie-button>
    </sofie-button-group>
    <hr class="mt-5">
    {{ form.value | json }}
</sofie-sidebar-container>
