.context-menu {
  display: inline-flex;
  flex-direction: column;
  width: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: hidden;
  user-select: none;
}

.context-menu-header {
  padding: 10px;
  color: #49c0fb;
  background: #3e4041;
  text-align: center;
}

.context-menu-item {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 64px;
  align-items: center;
  border: none;
  line-height: 36px;
  padding: 0 16px;

  font-size: 1rem;

  cursor: pointer;

  &:hover {
    background-color: rgb(208, 208, 208);
  }

  &:active {
    background-color: rgb(170, 170, 170);
  }

  &:focus {
    outline: none !important;
  }
}
