.context-menu {
  display: inline-flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 6px var(--gradient-black-rgba-with-04-opacity-color);
  border-radius: 8px;
  overflow: hidden;
  user-select: none;
}

.context-menu-header {
  padding: 10px 30px;

  color: var(---primary-color);
  background-color: var(--dark-color);

  font-weight: bold;
  text-align: center;
}

.context-menu-item {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 64px;
  align-items: center;
  border: none;
  line-height: 36px;
  padding: 0 30px;

  font-size: 1rem;

  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgb(208, 208, 208);
  }

  &:active {
    background-color: rgb(170, 170, 170);
  }
}
