:host {
  flex: 1 1;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;

  .label {
    margin-bottom: 2px;

    font-size: 0.7rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .content {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
}
