:host {
  display: inline-block;
  cursor: pointer;
  color: var(--dark-gray-color);
  &:hover {
    color: var(--black-color);
  }
}

// TODO: Taken from ButtonComponent
//.c-only-icon-button {
//  background-color: transparent;
//  border: 0;
//  color: var(--dark-gray-color);
//  cursor: pointer;
//  &:hover {
//    color: var(--black-color);
//  }
//}
