<div class="c-action-triggers-list">
  <div class="c-action-triggers-list__search">
    <input type="text" [(ngModel)]="search" placeholder="Search" />
    <sofie-dropdown-button
      [selectedKey]="sort"
      [options]="sortActionsTriggers"
      [label]="sortLabel"
      [iconButton]="iconButton.VERTICAL_OPPOSING_TRIANGLES"
      [iconButtonSize]="iconButtonSize.XL"
      (onSelect)="selectNewSort($event)"></sofie-dropdown-button>

    <sofie-dropdown-button
      *ngIf="selectMode; else turnOnSelectModeBtn"
      [options]="selectedActionTriggerOptions"
      [iconButton]="iconButton.SQUARE_CHECK"
      [iconButtonSize]="iconButtonSize.XL"
      (onSelect)="actionWithSelected($event)"
      label="Selected"></sofie-dropdown-button>

    <ng-template #turnOnSelectModeBtn>
      <sofie-button (btnClick)="this.selectMode = true" label="Enable multi select"> </sofie-button>
    </ng-template>
  </div>
  <div class="c-action-triggers-list__items">
    <ng-container *ngIf="actionTriggers">
      <ng-container *ngIf="filteredActionsTriggers.length !== 0; else noItemsFound">
        <div
          class="c-action-triggers-list__card c-sofie-card"
          [ngClass]="{ 'c-action-triggers-list__card--selected': selectedActionTrigger && selectedActionTrigger.id && selectedActionTrigger.id === actionsTrigger.id }"
          *ngFor="let actionsTrigger of filteredActionsTriggers; let i = index">
          <sofie-custom-checkbox
            *ngIf="selectMode"
            [selected]="isActionTriggerSelected(actionsTrigger.id)"
            [checkboxId]="actionsTrigger.id"
            (onChange)="setActionTriggerSelection($event, actionsTrigger.id)"></sofie-custom-checkbox>
          <div class="c-action-triggers-list__card--body" (click)="selectActionTrigger(actionsTrigger)">
            <p>
              {{ actionsTrigger.data.label }}
            </p>
            <div>
              <span class="c-custom-badge bg-dark">{{ actionsTrigger.data.keys | shortcut }}</span>
              <span class="c-custom-badge bg-dark" [class]="actionsTrigger.actionInfo.metadata.contentType.toLocaleLowerCase() + '_color'">{{ actionsTrigger.actionInfo.name }}</span>
            </div>
          </div>
          <div class="c-action-triggers-list__card--actions">
            <sofie-icon-button [iconButton]="iconButton.PEN" tooltipText="Edit action trigger" [iconButtonSize]="iconButtonSize.L" (click)="selectActionTrigger(actionsTrigger)"></sofie-icon-button>
            <sofie-icon-button
              [iconButton]="iconButton.TWO_SHEETS_COPY"
              tooltipText="Copy action trigger"
              [iconButtonSize]="iconButtonSize.L"
              (click)="actionTriggerCopy(actionsTrigger)"></sofie-icon-button>
            <sofie-icon-button
              [iconButton]="iconButton.TRASH_CAN"
              tooltipText="Delete action trigger"
              [iconButtonSize]="iconButtonSize.L"
              (click)="actionTriggerDelete(actionsTrigger.id)"></sofie-icon-button>
          </div>
        </div>
      </ng-container>
      <ng-template #noItemsFound>
        <div class="c-action-triggers-list__no-items c-sofie-card">
          <h3 i18n>action-triggers.no-shortcuts.label</h3>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
