<div class="c-action-triggers-list">
  <div class="c-action-triggers-list__search">
    <input type="text" [(ngModel)]="search" placeholder="Search" />
    <ng-container *ngIf="selectMode; else turnOnSelectModeButton">
      <sofie-dropdown-button
        [options]="selectedActionTriggerOptions"
        [iconButton]="IconButton.SQUARE_CHECK"
        [iconButtonSize]="IconButtonSize.XL"
        (onSelect)="actionWithSelected($event)"
        label="Selected">
      </sofie-dropdown-button>
      <sofie-button (onClick)="setSelectMode(false)" label="Disable multiselect"></sofie-button>
    </ng-container>

    <ng-template #turnOnSelectModeButton>
      <sofie-dropdown-button
        [selectedKey]="sortQuery"
        [options]="sortActionsTriggers"
        [label]="sortLabel"
        [iconButton]="IconButton.VERTICAL_OPPOSING_TRIANGLES"
        [iconButtonSize]="IconButtonSize.XL"
        (onSelect)="selectNewSort($event)">
      </sofie-dropdown-button>

      <sofie-button (onClick)="setSelectMode(true)" label="Enable multiselect"></sofie-button>
    </ng-template>
  </div>
  <div class="c-action-triggers-list__items">
    <ng-container *ngIf="actionTriggersWithAction">
      <ng-container *ngIf="filteredActionsTriggers.length !== 0; else noItemsFound">
        <ng-container *ngFor="let actionTriggerWithActions of filteredActionsTriggers; let i = index">
          <div
            *ngIf="actionTriggerWithActions.actionTrigger as actionsTrigger"
            class="c-action-triggers-list__card c-sofie-card"
            [ngClass]="{ 'c-action-triggers-list__card--selected': selectedActionTrigger && selectedActionTrigger.actionTrigger.id && selectedActionTrigger.actionTrigger.id === actionsTrigger.id }">
            <sofie-custom-checkbox
              *ngIf="selectMode"
              [isSelected]="isActionTriggerSelected(actionsTrigger.id)"
              [checkboxId]="actionsTrigger.id"
              (onChange)="setActionTriggerSelection(actionsTrigger.id, $event)"></sofie-custom-checkbox>
            <div class="c-action-triggers-list__card--body" (click)="selectActionTrigger(actionTriggerWithActions)">
              <p>
                {{ actionsTrigger.data.label }}
              </p>
              <div>
                <span class="c-custom-badge bg-dark">{{
                  (actionsTrigger.data.mappedToKeys && actionsTrigger.data.mappedToKeys.length > 0 ? actionsTrigger.data.mappedToKeys : actionsTrigger.data.keys) | formatKeyboardKeys
                }}</span>
                <span class="c-custom-badge bg-dark" [class]="actionTriggerWithActions.action.metadata.contentType.toLocaleLowerCase() + '_color'">{{ actionTriggerWithActions.action.name }}</span>
              </div>
            </div>
            <div *ngIf="!selectMode" class="c-action-triggers-list__card--actions">
              <sofie-icon-button [iconButton]="IconButton.PEN" tooltipText="Edit action trigger" [iconButtonSize]="IconButtonSize.L" (click)="selectActionTrigger(actionTriggerWithActions)"></sofie-icon-button>
              <sofie-icon-button [iconButton]="IconButton.TWO_SHEETS_COPY" tooltipText="Copy action trigger" [iconButtonSize]="IconButtonSize.L" (click)="cloneActionTrigger(actionTriggerWithActions)">
              </sofie-icon-button>
              <sofie-icon-button [iconButton]="IconButton.TRASH_CAN" tooltipText="Delete action trigger" [iconButtonSize]="IconButtonSize.L" (click)="actionTriggerDelete(actionsTrigger.id)">
              </sofie-icon-button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #noItemsFound>
        <div class="c-action-triggers-list__no-items c-sofie-card">
          <h3 i18n>action-triggers.no-shortcuts.label</h3>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
