.c-action-triggers-list {
  width: 100%;
  min-width: 300px;
  &__search {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    & input {
      width: 100%;
      padding: 8px;
      margin-right: 16px;
    }
  }
  &__items {
    max-height: calc(100vh - 233px);
    overflow: auto;
  }
  &__card {
    margin-bottom: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 8px 16px;
    &--selected {
      background-color: var(--gray-color);
    }
    &--body {
      flex-grow: 1;
      & p {
        margin-top: 0;
        margin-bottom: 8px;
        line-break: anywhere;
      }
    }
    &--actions {
      margin-left: auto;
      padding-left: 16px;
      min-width: 115px;
      text-align: right;
      margin-bottom: 8px;
      & sofie-icon-button {
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    & sofie-custom-checkbox {
      margin-right: 16px;
    }
  }
  &__no-items {
    & h3 {
      text-align: center;
      font-weight: lighter;
    }
  }
}

.c-custom-badge {
  padding: 5px 8px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  &.bg-dark {
    background-color: rgb(50, 50, 50);
    color: #fff;
  }
}
