<div class="c-segment" [class.c-segment--on-air]="segment.isOnAir" [class.c-segment--set-as-next]="segment.isNext">
  <div class="c-segment__header" (click)="setFirstValidPartAsNext()">
    <div class="c-segment__header-toolbar">
      <span>123</span>
      <span class="c-segment__budget-duration">{{segment.budgetDuration ?? 0 | MillisecondsAsTime}}</span>
    </div>
    <div class="c-segment__title">
      {{ segment.name }}
    </div>

  </div>

  <div class="c-segment__controls">
    <div class="c-segment__controls-toolbar">Hello</div>
    <div class="c-segment__piece-layers">
      <div *ngFor="let pieceLayer of pieceLayers" class="c-segment__piece-layer">
        {{ pieceLayer }}
      </div>
    </div>
  </div>

  <sofie-full-segment-timeline
    class="c-segment__timeline"
    [segment]="segment"
    [pieceLayers]="pieceLayers"
    [time]="timeReference"
  ></sofie-full-segment-timeline>
</div>
