<div class="c-segment" [class.c-segment--on-air]="segment.isOnAir" [class.c-segment--set-as-next]="segment.isNext">
  <div class="c-segment__header">
    <div class="c-segment__header-toolbar">
      <span>123</span>
      <span style="margin-left: 50px;">00:30</span>
    </div>
    <div class="c-segment__title">
      {{ segment.name }}
    </div>

  </div>

  <div class="c-segment__controls">
    <div class="c-segment__controls-toolbar">Hello</div>
    <div class="c-segment__piece-layers">
      <div class="c-segment__piece-layer" *ngFor="let pieceLayer of pieceLayers">
        {{ pieceLayer }}
      </div>
    </div>
  </div>

  <!-- TODO: Should this be a separate component, such that we can easily swap it out. E.g. if we want to follow playhead or show full overview. -->
  <div class="c-segment__timeline">
    <sofie-timeline [ngClass]="'c-segment__timeline-markers'" [time]="0" [pixelsPerSecond]="30"></sofie-timeline>
    <div class="c-segment__timeline-parts">
      <div class="c-segment__timeline-parts-wrapper c-seperator">
        <sofie-part
          *ngFor="let part of segment.parts"
          [isRundownActive]="isRundownActive"
          [part]="part"
          [pieceLayers]="pieceLayers"
          [pixelsPerSecond]="30"
          [isOnAir]="part.isOnAir"
          [time]="part.isOnAir ? timeReference : 0"
          (partSelectedAsNextEvent)="emitSetNextEvent($event)"
        ></sofie-part>
        </div>
    </div>
    <sofie-timeline-playhead *ngIf="segment.isOnAir" [pixelsPerSecond]="30" [time]="timeReference"></sofie-timeline-playhead>
  </div>
</div>
