<div class="c-action-panel-list">
  <div class="c-settings-page__header">
    <div class="c-settings-page__header--filters">
      <input class="me-2" type="text" [(ngModel)]="search" placeholder="Search" />
      <div>
        <sofie-multi-select
          [selectedOptionsIds]="actionPanelFilters"
          [options]="filterActionPanelOptions"
          (onItemSelectionChange)="actionPanelFiltersChange($event)"
          [showOnlyItemsCountLabel]="selectedFiltersLabel"
          [placeholder]="filtersLabel">
        </sofie-multi-select>
      </div>
    </div>
    <div>
      <ng-container *ngIf="this.selectedActionPanelIds.size === 0; else multiSelectionActions">
        <sofie-button class="me-1" (click)="openCreateNewActionPanel()">{{createNewLabel}}</sofie-button>
        <sofie-button class="me-1" (click)="exportActionPanels()">{{exportLabel}}</sofie-button>
        <sofie-action-panel-import [shelfConfiguration]="shelfConfiguration"></sofie-action-panel-import>
      </ng-container>
    </div>
    <ng-template #multiSelectionActions>
      <sofie-button class="me-1" (click)="exportSelectedActionPanels()">{{exportSelectedLabel}}</sofie-button>
      <sofie-button (click)="openDeleteSelectedActionPanelDialog()" type="DANGER">{{deleteSelectedLabel}}</sofie-button>
    </ng-template>
  </div>

  <table class="c-sofie-table" *ngIf="filteredActionsPanels.length > 0; else noActionPanelAvailable">
    <thead>
      <tr>
        <th class="c-sofie-table-header xs">
          <div class="c-sofie-table__checkbox" [ngClass]="this.selectedActionPanelIds.size > 0 ? 'flex' : ''">
            <sofie-checkbox [isSelected]="isAllActionPanelSelected()" (onToggle)="toggleAllActionPanelSelection($event)"></sofie-checkbox>
          </div>
        </th>
        <sofie-table-header-to-be-deleted
          *ngFor="let shelfActionPanelTableHeader of shelfActionPanelTableHeaders"
          [headerData]="shelfActionPanelTableHeader"
          [sortColumn]="sortColumn"
          [sortDirection]="sortDirection"
          (onSortClick)="saveSortValues($event)">
        </sofie-table-header-to-be-deleted>
        <th class="c-sofie-table-header sm"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr *ngFor="let actionPanelRow of filteredActionsPanels; let i = index">
          <td>
            <div class="c-sofie-table__checkbox" [ngClass]="this.selectedActionPanelIds.size > 0 ? 'flex' : ''">
              <sofie-checkbox
                [isSelected]="isActionPanelSelected(actionPanelRow.id)"
                (onToggle)="setActionPanelSelection(actionPanelRow.id, $event)"></sofie-checkbox>
            </div>
          </td>
          <td>
            {{ actionPanelRow.name }}
          </td>
          <td>
            {{ actionPanelRow.rank }}
          </td>
          <td>
            <span class="c-custom-badge me-2 mb-2 bg-dark" [ngClass]="actionFilter.toLocaleLowerCase() + '-color'" *ngFor="let actionFilter of actionPanelRow.actionFilter; let filterIndex = index">
              {{ actionFilter | translationKnownValues }}
            </span>
          </td>
          <td>
            <sofie-edit-action-panel
              [shelfConfiguration]="shelfConfiguration"
              [actionPanelIndex]="i">
            </sofie-edit-action-panel>
            <sofie-icon-button [iconButton]="IconButton.TWO_SHEETS_COPY" tooltip="Copy action panel" iconButtonClasess="me-2" [iconButtonSize]="IconButtonSize.L" (click)="cloneActionPanel(i)">
            </sofie-icon-button>
            <sofie-icon-button [iconButton]="IconButton.TRASH_CAN" tooltip="Delete action panel" [iconButtonSize]="IconButtonSize.L" (click)="openDeleteActionPanelDialog(i)"> </sofie-icon-button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ng-template #noActionPanelAvailable>
    <div class="c-sofie-table-no-items">
      <p i18n>action-panels.no-items.label</p>
    </div>
  </ng-template>
</div>
