:host {
  flex-grow: 2;
  padding-left: 32px;
  & .c-select-actions-triggers {
    width: 100%;
    background-color: #d5d5d5;
    & h3 {
      margin-top: 0;
      margin-bottom: 16px;
      font-weight: lighter;
    }
    &__field {
      width: 100%;
      margin-bottom: 16px;
      & input {
        width: 100%;
      }
    }
    &__list {
      height: calc(100vh - 370px);
      overflow: auto;
      border-right: 1px solid var(--general-gray-color);
      & > div {
        display: flex;
        flex-wrap: wrap;
        & sofie-single-action-trigger-box {
          flex: 0 0 15%;
          min-width: 100px;
          max-width: 115px;
          height: 90px;
          border-radius: 10px;
          margin-bottom: 8px;
          margin-right: 8px;
          padding: 0;
        }
        & h4 {
          flex: 0 0 100%;
          font-weight: lighter;
        }
      }
    }
  }
}
