<div class="container pb-2 pt-2">
    <label class="flex" *ngIf="label">{{ label }}<sofie-form-required-mark *ngIf="isRequired"></sofie-form-required-mark></label>
    <div class="select">
        <div class="display-area">
            <div class="display-text">
                {{ !!selectedOption ? selectedOption.name : (placeholder ?? label) }}
            </div>
        </div>

        <div class="select-dropdown" >
            <div *ngFor="let option of options" class="select-dropdown-item p-3" (click)="selectOption(option)">
                {{ option.name }}
            </div>
        </div>
    </div>
    <sofie-form-error-message *ngIf="errorMessage">{{ errorMessage }}</sofie-form-error-message>
</div>
