<div class="container pb-2 pt-2">
    <label *ngIf="label">{{ label }}<sofie-required-mark *ngIf="isRequired"></sofie-required-mark></label>
    <div class="select">
        <div class="display-area" (click)="toggleIsShowingOptions()">
            <div class="display-text">
                {{ !!selectedOption ? selectedOption.name : (placeholder ?? label) }}
            </div>
        </div>

        <div class="select-dropdown" *ngIf="isShowingOptions">
            <div *ngFor="let option of options" class="select-dropdown-item p-3" (click)="selectOption(option)">
                {{ option.name }}
            </div>
        </div>
    </div>
    <sofie-error-message *ngIf="errorMessage">{{ errorMessage }}</sofie-error-message>
</div>
