<div class="container pb-2 pt-2">
    <label *ngIf="label">{{ label }}</label>
    <div class="select" [ngClass]="className">
        <div class="display-area" (click)="toggleSelectShown()">
            <div class="display-text">
                {{ !!selectedOption ? selectedOption.name : (placeholder ?? label) }}
            </div>
        </div>

        <div [ngClass]="{ block: isShown }" class="select-dropdown" >
            <div *ngFor="let option of options" class="select-dropdown-item p-3" (click)="selectOption(option)">
                {{ option.name }}
            </div>
        </div>
    </div>
</div>
