.c-video-hover-scrub-tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  &__video {
    height: 100%;
    position: relative;

    &--cursor-time {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: var(--white-color);
      font-size: 12px;
      z-index: 3;
    }
    &--background-mask {
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    & video {
      width: 160px;
      height: 90px;
    }
  }
}
