:host {
  position: relative;
  display: flex;
  aspect-ratio: 16 / 9;

  .time-code {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 6px 6px 2px 6px;

    background: linear-gradient(0deg, #000000dd 0%, #000000aa 10%, #00000000 100%);

    color: var(--white-color);
    font-size: 0.85rem;
    text-align: right;
    font-weight: normal;
  }
}
