:host {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;

  .field {
    padding: 5px;
    margin-top: 5px;
    max-width: 350px;

    font-size: 0.75rem;

    .label {
      color: var(--white-color);
    }

    .data {
      margin-left: 5px;
      color: var(--gray-color);
    }
  }
}
