:host {
  position: absolute;
  display: flex;
  top: -20px;
  bottom: 0;
  z-index: 200;
}

.c-timeline-next-indicator {
  display: flex;
  flex-direction: column;

  &__label {
    position: relative;
    height: 20px;
    padding: 1px 0;
    font-weight: bold;
    background-color: #a5a5a5;
    font-size: 0;
    transition: font-size .2s, background-color .2s, padding .2s;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 100%;
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent transparent #a5a5a5;
      transition: border-width .2s;
    }
  }

  &__bar {
    height: 100%;
    background-color: #a5a5a5;
    width: 2px;
    transition: background-color .2s;
  }

  &--next &__label {
    color: black;
    padding: 2px 6px;
    border-top-left-radius: 4px;
    font-size: 0.9rem;
    background-color: #00ac17;

    &::after {
      border-color: transparent transparent transparent #00ac17;
      border-width: 10px;
    }
  }

  &--next &__bar {
    background-color: #00ac17;
  }
}
