<div
    class="full-part"
    [style.width.px]="pixelsPerSecond * partDurationInMs / 1000"
>
    <div class="piece-layers">
        <div
            *ngFor="let pieceLayer of pieceLayers"
            class="piece-layer"
        >
            <sofie-offsetable-piece
                    *ngFor="let piece of piecesGroupedByPieceLayer[pieceLayer]; trackBy: trackPiece"
                    [piece]="piece"
                    [pixelsPerSecond]="pixelsPerSecond"
                    [partDuration]="partDurationInMs"
                    [playedDurationForPartInMs]="playedDurationInMs"
                    [prePlayheadDurationInMs]="prePlayheadDurationInMs"
            ></sofie-offsetable-piece>
        </div>
    </div>
</div>
<sofie-timeline-flag [label]="part.isNext ? 'NEXT' : undefined" [turnedOn]="part.isNext"></sofie-timeline-flag>
