.button-group {
  display: flex;

  > sofie-button, > sofie-icon-button, > sofie-json-import-button, > sofie-json-export-button {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

