<sofie-header></sofie-header>
<sofie-page i18n-title title="rundown-overview.rundown-overview.title">
    <sofie-notification-popup-container></sofie-notification-popup-container>
    <sofie-table [entities]="basicRundowns" [headers]="headers" [rowTemplate]="tableRowTemplate">
        <ng-template #tableRowTemplate let-basicRundown="tableRowData">
            <td>
                <sofie-pulsating-dot *ngIf="basicRundown.mode === RundownMode.ACTIVE" [color]="'ON_AIR'" [animationDurationSeconds]="3"></sofie-pulsating-dot>
                <sofie-pulsating-dot *ngIf="basicRundown.mode === RundownMode.REHEARSAL" [color]="'REHEARSAL'" [animationDurationSeconds]="3"></sofie-pulsating-dot>
            </td>
            <td>
                <a [routerLink]="['/', Paths.RUNDOWNS, basicRundown.id]">
                    {{ basicRundown.name }}
                </a>
            </td>
            <td>
                {{ getPlannedStart(basicRundown) ? (getPlannedStart(basicRundown) | date: 'HH:mm:ss') : 'Not set' }}
            </td>
            <td>
                {{ getDurationInMs(basicRundown) ? (getDurationInMs(basicRundown)! | timer: 'HH:mm:ss') : 'Not set' }}
            </td>
            <td>
                {{ getPlannedEnd(basicRundown) ? (getPlannedEnd(basicRundown) | date: 'HH:mm:ss') : 'Not set' }}
            </td>
            <td>
                {{ basicRundown.modifiedAt | date: 'HH:mm – d LLL YYYY' }}
            </td>
            <td>
                <sofie-icon-button
                        [icon]="Icon.TRASH_CAN"
                        [iconSize]="IconSize.L"
                        (click)="openDeletionDialog(basicRundown)"
                >
                </sofie-icon-button>
            </td>
        </ng-template>
    </sofie-table>
</sofie-page>
