<ng-container *ngIf="rundown; else loadingRundown">
    <sofie-rundown-header [rundown]="rundown"></sofie-rundown-header>
    <sofie-rundown-subheader *ngIf="rundown.isActive" [rundown]="rundown"></sofie-rundown-subheader>
    <sofie-rundown [rundown]="rundown"></sofie-rundown>
    <sofie-draggable-shelf localStorageKey="producer-shelf">
        <sofie-producer-shelf
            [keyBindings]="keyBindings"
            [keystrokes]="keystrokes"
            [rundown]="rundown"
        ></sofie-producer-shelf>
    </sofie-draggable-shelf>
</ng-container>

<ng-template #loadingRundown>
    <mat-card-title class="c-loading-rundown">Loading the rundown...</mat-card-title>
</ng-template>
