:host {
  display: inline-block;
  box-sizing: border-box;
  border-left: 2px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;
  background-color: rgba(255,255,255,0.1);
  overflow: hidden;
}

.c-part {
  flex: 0 0;

  &__piece-layers {
    display: flex;
    flex-direction: column;
  }

  &__piece-layer {
    display: flex;
    height: 22px;
    position: relative;
  }

  &::before {
    content: ' ';
    z-index: 1000000000;
    position: absolute;
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #a5a5a5;
  }
}
