:host {
  display: inline-block;
  box-sizing: border-box;
  border-right: 2px solid yellow;
  background-color: rgba(255,255,255,0.1);
  overflow: hidden;

  --timeline-grid-label-top: 15px;
  --timeline-grid-long-line-top: 18px;
  --timeline-grid-long-line-height: 0;
  --timeline-grid-short-line-top: 26px;
  --timeline-grid-short-line-height: 3px;
}

.c-part {
  flex: 0 0;

  &__piece-layers {
    display: flex;
    flex-direction: column;
  }

  &__piece-layer {
    display: flex;
    height: 22px;
    position: relative;
  }
}
