:host {
  display: inline-block;
  box-sizing: border-box;
  border-right: 2px solid yellow;
  background-color: rgba(255,255,255,0.1);
  overflow: hidden;
}

.c-part {
  flex: 0 0;

  &__piece-layers {
    display: flex;
    flex-direction: column;
  }

  &__piece-layer {
    display: flex;
    height: 22px;
    position: relative;
  }
}
//.part {
//  border: solid 1px black;
//  margin: 5px;
//  padding: 5px;
//}
//
//.is-on-air {
//  background: lightgray;
//  border: solid 1px red;
//  color: red;
//  padding: 3px;
//}
//
//.is-next {
//  background: lightgray;
//  border: solid 1px green;
//  color: green;
//  padding: 3px;
//}
//
//.piece-container {
//  display: flex;
//  flex-direction: row;
//}
