<div
  class="c-part"
  [style.width]="partWidthInPixels"
  (click)="setPartAsNext()"
>
  <div class="c-part__piece-layers">
    <div *ngFor="let pieces of layeredPieces" class="c-part__piece-layer" [style.width]="partWidthInPixels">
      <sofie-piece *ngFor="let piece of pieces" [expectedPartDuration]="part.expectedDuration ? part.expectedDuration : DEFAULT_PART_DURATION" [partDuration]="duration" [piece]="piece" [pixelsPerSecond]="pixelsPerSecond"></sofie-piece>
    <!--<sofie-ad-lib-piece *ngFor="let adLibPiece of part.adLibPieces" [adLibPiece]="adLibPiece"></sofie-ad-lib-piece>-->
    </div>
  </div>
  <sofie-timeline-next-cursor *ngIf="part.isNext"></sofie-timeline-next-cursor>
</div>
