<div
    class="segments"
    *ngFor="let segment of rundown?.segments; trackBy: trackSegment"
>

    <sofie-segment
        *ngIf="segment.parts.length > 0"
        [segment]="segment"
        [isRundownActive]="rundown ? rundown.isActive : false"
        [durationInMsUntilSegmentIsPutOnAir]="startOffsetsInMsFromPlayheadForSegments[segment.id]"
        [remainingDurationInMsForOnAirPart]="remainingDurationInMsForOnAirPart"
        [currentEpochTime]="currentEpochTime"
    ></sofie-segment>

    <sofie-mini-shelf
      *ngIf="segment.parts.length > 0"
    ></sofie-mini-shelf>

</div>
