:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #343434;
  overflow: auto;

  .segments {
    margin: 20px 0 300px 0;
    display: flex;
    flex-direction: column;
  }
}

