<div class="segments">
    <ng-container #segmentList *ngFor="let segment of rundown?.segments; trackBy: trackSegment">
        <sofie-segment
                id="{{segment.id}}"
                *ngIf="!segment.isHidden"
                [segment]="segment"
                [isRundownActive]="isRundownActive"
                [isAutoNextStarted]="isAutoNextStarted"
                [durationInMsUntilSegmentIsPutOnAir]="startOffsetsInMsFromPlayheadForSegments[segment.id]"
                [remainingDurationInMsForOnAirPart]="remainingDurationInMsForOnAirPart"
                [currentEpochTime]="currentEpochTime"
        ></sofie-segment>
        <sofie-mini-shelf
                *ngIf="segment.metadata?.miniShelfVideoClipFile"
                [segment]="segment"
                [videoClipAction]="miniShelfSegmentActionMappings[segment.id]"
        ></sofie-mini-shelf>
    </ng-container>
</div>
