<div
  class="c-mini-shelf"
  title="{{ title }}"
  (click)="this.handleClick()"
>
    <img
        class="c-mini-shelf__thumbnail"
        src="{{ metadata?.thumbnail ? metadata?.thumbnail : this.defaultImage }}"
        alt="{{ this.title }}"
        (error)=this.handleMissingImage($event)
    />
    <div class="c-mini-shelf__note">
        <span class="c-mini-shelf__title">{{ this.getFormattedTitle() }}</span>
        <span class="c-mini-shelf__duration">{{ this.getFormattedDuration() }}</span>
    </div>
</div>


