.c-mini-shelf {
  min-width: 270px;
  max-width: min-content;
  padding: 0;
  margin: 5px 0 5px 20px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--blue-color);
  box-shadow: 0 0 2px 2px var(--gradient-black-rgba-with-02-opacity-color);

  &--normal {
    border: solid 2px var(--gray-color);
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px var(--gradient-green-rgba-with-04-opacity-color);
  }

  &--on-air {
    border: solid 2px var(--red-color);
  }

  &--next {
    border: solid 2px var(--bright-green-color);
  }

  &--on-air-and-next {
    border: solid 2px var(--red-color);
    border-right: solid 2px var(--bright-green-color);
  }

  &__thumbnail {
    width: 100%;
    height: 60px;
    object-fit: cover;
    object-position: 50% 60%;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    background: var(--blue-color);
    padding: 2px;
    text-shadow: var(--black-color) 0 0 2px;
    font-weight: 450;
    font-size: 12px;
  }

  &__title {
    color: var(--white-color);
    max-width: 212px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__duration {
    color: var(--yellow-color);
  }
}
