table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  .checkbox-column {
    width: 50px;
    text-align: center;
    font-size: inherit;
  }

  thead {

    th {
      color: var(--dark-gray-color);
      font-size: 0.9rem;
      font-weight: 500;
      cursor: pointer;
      padding: 4px 10px;
    }
  }

  tbody {

    tr {
      border-top: 1px solid var(--gray-color);

      td {
        padding: 10px;
      }
    }
  }
}
