:host {
  display: inline-block;
  background-color: var(--dark-gray-color);
  padding: 14px;

  width: 130px;
  height: 100px;

  border-radius: 8px;

  color: var(--text-color);

  font-size: 0.9rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px var(--black-color);
  word-break: break-word;

  cursor: pointer;
  transition: opacity 0.1s;
  overflow: hidden;

  &.camera {
    background-color: var(--tv2-camera-color);
  }

  &.video-clip {
    background-color: var(--tv2-video-clip-color);

    &.missing-source {
      background: repeating-linear-gradient(
        45deg,
        var(--tv2-video-missing-source-gradient-color),
        var(--tv2-video-missing-source-gradient-color) 5px,
        var(--tv2-video-clip-color) 5px,
        var(--tv2-video-clip-color) 15px
      );
    }
  }

  &.graphics {
    background-color: var(--tv2-graphics-color);
  }

  &.remote {
    background-color: var(--tv2-remote-color);
  }

  &.split-screen {
    background: linear-gradient(to bottom, var(--tv2-split-screen-upper) 0%, var(--tv2-split-screen-upper) 50%, var(--tv2-split-screen-lower) 50%, var(--tv2-split-screen-lower) 100%);
  }

  &:active {
    opacity: 0.7;
  }
}
