<div
  class="mini-shelf"
  [ngClass]="{ 'on-air': shouldShowOnAirBorder(), 'next': shouldShowNextBorder() }"
  [title]=segment.name
  (click)="executeAction()"
  sofieTooltip
  [sofieTooltipTemplate]="miniShelfTooltip"
  (tooltipMetadataChange)="updatePositionInVideo($event)"
>
    <div [ngClass]="{'media-unavailable': isMediaUnavailable}">
        <img
            #thumbnail
            class="thumbnail"
            [src]=mediaPreviewUrl
            [alt]="segment.name? segment.name : 'Title is not available.'"
            (error)=handleMissingImage($event)
        />
        <div class="note">
            <span class="title">{{ getSanitizedTitle() | uppercase }}</span>
            <span class="duration">{{ mediaDurationInMsWithoutPostroll | timer : 'HH?:mm:ss' }}</span>
        </div>
    </div>
</div>

<ng-template #miniShelfTooltip>
    <sofie-video-hover-scrub
            [filename]="mediaFilename"
            [positionInVideoInMs]="positionInVideoInMs"
    >
    </sofie-video-hover-scrub>
</ng-template>
