<div
  class="c-mini-shelf"
  [ngClass]="{ 'on-air': shouldShowOnAirBorder(), 'next': shouldShowNextBorder() }"
  [title]=segment.name
  (click)="executeAction()"
  [sofieTooltip]="miniShelfTooltip"
  (tooltipMetadata)="setTooltipMetadata($event)"
>
    <div
      class="c-mini-shelf__media-container"
      [ngClass]="{'media-unavailable': isMediaUnavailable}"
    >
        <img
            class="c-mini-shelf__thumbnail"
            [src]=mediaPreviewUrl
            [alt]="segment.name? segment.name : 'Title is not available.'"
            (error)=handleMissingImage($event)
        />
        <div class="c-mini-shelf__note">
            <span class="c-mini-shelf__title">{{ getSanitizedTitle() | uppercase }}</span>
            <span class="c-mini-shelf__duration">{{ mediaDurationInMsWithoutPostroll | timer : 'HH?:mm:ss' }}</span>
        </div>
    </div>
</div>

<ng-template #miniShelfTooltip>
    <sofie-video-hover-scrub
            [filename]="mediaFilename"
            [videoLengthInPixels]="tooltipMetadata ? tooltipMetadata.width ?? 0 : 0"
            [durationInMs]="mediaDurationInMsWithoutPostroll"
            [positionInVideoInPixels]="tooltipMetadata ? tooltipMetadata.xPosition : 0">
    </sofie-video-hover-scrub>
</ng-template>
