:host {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--background-color);
  overflow: hidden;
  pointer-events: none;

  .drag-handle {
    position: absolute;
    padding: 10px;
    border-radius: 100% 100% 0 0;
    left: 50%;
    width: 80px;
    height: 80px;
    z-index: 1000;

    box-shadow: 0 0 20px #000;
    background-color: var(--background-color);
    color: #444;

    transform: translate(-50%, -48.5%);
    clip-path: polygon(-20% -20%, 120% -20%, 120% 50%, -20% 50%);

    text-align: center;
    cursor: row-resize;
    pointer-events: all;
    touch-action: none;
  }

  .keybinding {
    display: inline-block;
    padding: 6px 12px;
    margin: 10px;
    background-color: gray;
    cursor: pointer;

    &:hover {
      background-color: lightgray;
    }

    &--matched, &:active {
      background-color: green
    }
  }
}
