:host {
  display: block;
  padding: 20px;
  max-height: 100%;
  overflow: auto;

  .keybinding {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    background-color: gray;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    min-width: 120px;

    &-label {
      display: block;
      text-align: center;
      font-weight: bold;
    }

    &-keys {
      display: block;
      text-align: center;
      font-style: italic;
    }

    &:hover {
      background-color: lightgray;
    }

    &--matched,
    &:active {
      background-color: green
    }
  }

  .keystrokes {
    color: white;
  }
}
