<div class="wrapper">
    <div class="main">
        <sofie-tv2-action-panel *ngFor="let actionPanel of resolvedActionPanels" title="{{actionPanel.name | uppercase }}" [actions]="actionPanel.actions" (executeAction)="executeAction($event)"></sofie-tv2-action-panel>
        <sofie-virtual-keyboard [keyBindings]="keyBindings" [keystrokes]="keystrokes"></sofie-virtual-keyboard>
    </div>

    <div class="sidebar">
        <sofie-tv2-action-panel title="STATIC BUTTONS" [actions]="staticButtonActions" (executeAction)="executeAction($event)" [isScrollable]="false"></sofie-tv2-action-panel>
    </div>
</div>
