<div class="action-panels">
    <sofie-tv2-action-panel *ngIf="cameraActions.length > 0" title="ADLIB PANEL: Camera (Scrollable)" [actions]="cameraActions" (onExecuteAction)="executeAction($event)"></sofie-tv2-action-panel>
    <sofie-tv2-action-panel *ngIf="cameraActions.length > 0" title="ADLIB PANEL: Camera (Wrapping)" [actions]="cameraActions" [isScrollable]="false" (onExecuteAction)="executeAction($event)"></sofie-tv2-action-panel>
    <sofie-tv2-action-panel *ngIf="videoClipActions.length > 0" title="ADLIB PANEL: SERVER" [actions]="videoClipActions" (onExecuteAction)="executeAction($event)"></sofie-tv2-action-panel>
</div>
<sofie-virtual-keyboard [keyBindings]="keyBindings" [keystrokes]="keystrokes"></sofie-virtual-keyboard>
