.c-rundown-header {
  --scrollbar-thumb-color: var(--rundown-header-scrollbar-thumb-color);

  display: flex;
  flex-direction: row;

  width: auto;
  min-height: 70px;

  background-color: var(--rundown-scrollbar-color);
  overflow: auto;

  transition: background-color 0.3s;

  &--active {
    --scrollbar-thumb-color: var(--rundown-header-scrollbar-thumb-active-color);
    background-color: var(--rundown-header-background-active-color);
  }

  &--rehearsal {
    --scrollbar-thumb-color: var(--rundown-header-rehearsal-scrollbar-thumb-active-color);
    background-color: var(--rehearsal-color);
  }

  .exit-button {
    align-self: center;

    padding: 0 20px;
    height: 100%;
    color: var(--dark-gray-color);
    border-radius: 8px;

    transition: color 0.2s;
    outline: none;

    &:hover {
      color: var(--white-color);
      cursor: pointer;
    }
  }

  .timer {
    transition: text-shadow 0.5s;

    &.overtime {
      text-shadow: 0 0 8px var(--rundown-overtime-shadow-color);
    }
  }
}
