<div [cdkContextMenuTriggerFor]="contextMenu" class="c-rundown-header" [class.c-rundown-header--active]="rundown.isActive">
    <ng-template #contextMenu>
        <sofie-rundown-header-context-menu class="c-context-access-surface" [rundown]="rundown" [shortenedRundownName]="rundownName"> </sofie-rundown-header-context-menu>
    </ng-template>

    <sofie-logo></sofie-logo>
    <sofie-rundown-header-panel [label]="rundownPath">{{rundownName}}</sofie-rundown-header-panel>
    <sofie-rundown-header-panel *ngIf="plannedStart" label="Planned start">{{ plannedStart | date: 'H:mm:ss' }}</sofie-rundown-header-panel>
    <sofie-rundown-header-panel label="Diff">{{ diff | timestamp }}</sofie-rundown-header-panel>
    <sofie-rundown-header-panel label="Planned end">{{ plannedEnd | date: 'HH:mm:ss' }}</sofie-rundown-header-panel>
    <sofie-spacer></sofie-spacer>
    <sofie-rundown-header-panel label="Show Style Variant">{{showStyleVariant?.name ?? ''}}</sofie-rundown-header-panel>
    <sofie-rundown-header-panel label="Schema">{{schema}}</sofie-rundown-header-panel>
    <sofie-rundown-header-panel label="Design">{{design}}</sofie-rundown-header-panel>
    <sofie-rundown-header-panel label="Local Time">{{currentLocalDate | date: 'HH:mm:ss'}}</sofie-rundown-header-panel>

    <sofie-icon-button class="exit-button" [iconButton]="IconButton.XMARK" [iconButtonSize]="IconButtonSize.XL" routerLink="/rundowns"></sofie-icon-button>
</div>
