:host {
  position: relative;
  display: inline-block;

  .end-indicator {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
  }

  &.active {
    path {
      stroke: var(--next-color);
    }
  }
}

