<div class="invalid-segment ms-4 me-4 mt-1 mb-2">
    <div class="header">
        <div class="header-toolbar">
          <span class="reference-tag">
            {{segment.referenceTag}}
          </span>
        </div>
        <div class="invalid p-2 pt-1 pb-1">
            <sofie-icon-button [icon]="Icon.TRIANGLE_EXCLAMATION" [iconSize]="IconSize.M"></sofie-icon-button>
            <span class="ms-1">INVALID</span>
        </div>
        <div class="title m-2">
            {{ segment.name }}
        </div>
        <div class="text m-2">
            {{ segment.invalidity?.reason }}
        </div>
    </div>
</div>
