<sofie-timeline-markers [time]="scrollOffsetInMs" [pixelsPerSecond]="pixelsPerSecond"></sofie-timeline-markers>

<div class="parts" [style.margin-left.px]="(-scrollOffsetInMs * pixelsPerSecond) / 1000">
  <sofie-offsetable-part
    *ngFor="let part of segment.parts; trackBy: trackPart"
    [part]="part"
    [outputLayers]="outputLayers"
    [pixelsPerSecond]="pixelsPerSecond"
    [offsetDurationInMs]="0"
    [rundownId]="segment.rundownId"
    [isRundownActiveOrRehearsal]="isRundownActiveOrRehearsal"
    [isAutoNextStarted]="isAutoNextStarted">
  </sofie-offsetable-part>
  <sofie-segment-end-indicator [lastPartInSegment]="segment.parts[segment.parts.length - 1]"></sofie-segment-end-indicator>
</div>

<sofie-editorial-line *ngIf="segment.expectedDurationInMs !== undefined" [expectedDurationInMs]="segment.expectedDurationInMs" [pixelsPerSecond]="pixelsPerSecond" [offsetInMs]="scrollOffsetInMs">
</sofie-editorial-line>
