<div class="c-multi-select-trigger" mat-button [matMenuTriggerFor]="dropdownMenu">
  <ng-container *ngIf="selectedOptionsIds && selectedOptionsIds.length > 0; else noOptionsSelected">
    <ng-container *ngIf="showOnlyItemsCountLabel && selectedOptionsIds.length > 1; else showItemsNames">
      <div class="c-multi-select-trigger--show-only-items-count">
        <span class="me-2">{{ selectedOptionsIds.length }} {{ showOnlyItemsCountLabel }}</span>
        <sofie-icon-button
          [iconButton]="IconButton.XMARK"
          [iconButtonSize]="IconButtonSize.S"
          (click)="$event.stopPropagation(); onItemSelectionChange.emit([])"></sofie-icon-button>
      </div>
    </ng-container>
    <ng-template #showItemsNames>
      <div class="c-multi-select-trigger--selected-option" [ngClass]="getOptionById(selectedOptionId)?.classesOnSelected" *ngFor="let selectedOptionId of selectedOptionsIds; let i = index">
        <span class="me-2">{{ getOptionById(selectedOptionId)?.label }}</span>
        <sofie-icon-button iconButtonClasess="text-white" [iconButton]="IconButton.XMARK" [iconButtonSize]="IconButtonSize.S" (click)="$event.stopPropagation(); unselectOption(i)"></sofie-icon-button>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #noOptionsSelected>
    <div class="c-multi-select-trigger--no-selected">
      {{ placeholder }}
    </div>
  </ng-template>
</div>
<mat-menu class="c-multi-select-menu" #dropdownMenu="matMenu">
  <div [ngClass]="option.classesOnList" (click)="$event.stopPropagation()" class="c-multi-select-menu--item" *ngFor="let option of options">
    <sofie-custom-checkbox #checkBox [isSelected]="isOptionSelected(option)" [checkboxId]="option.id" (onChange)="onOptionClick(option)"></sofie-custom-checkbox>
    <span class="ms-3" (click)="onOptionClick(option)">{{ option.label }}</span>
  </div>
</mat-menu>
