:host {
  &.ng-invalid {
    &.ng-touched {
      .multi-select {
        border-color: var(--danger-color);
      }
    }
  }

  &.ng-valid,
  &.ng-untouched {
    sofie-error-message {
      display: none;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: lighter;
}

.multi-select {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 250px;
  text-overflow: ellipsis;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--gray-color);
}

.multi-select-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  box-shadow: 0 0 15px 1px var(--gray-color);
  clip-path: inset(0 -15px -15px -15px);
  background: var(--white-color);
  z-index: 1;
}

.multi-select-dropdown-item {
  width: 100%;
  cursor: pointer;
  &:hover {
    background: var(--light-gray-color);
  }
}

.display-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: lighter;
  color: var(--dark-color);
  font-size: 0.85rem;
  font-family: Roboto, Arial, sans-serif;
}

.display-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
