:host {
  position: absolute;
  top: 10px;
  bottom: 0;
  z-index: 200;
  margin-left: -2px;
}

.c-timeline-next-cursor {
  display: flex;

  &__label {
    color: black;
    background-color: #00ac17;
    font-weight: bold;
    border-radius: 4px 8px 8px 0;
    padding: 1.6px 8px 0 3.2px;
  }

  &__bar {
    height: 100%;
    width: 4px;
    background-color: #00ac17;
  }
}
