<div class="c-keyboard-keys-field c-sofie-form-control">
  <label>
    <span>
      {{ label }}
      <span *ngIf="isRequired" class="text-danger">*</span>
    </span>
    <sofie-icon-button *ngIf="helpIconText" [iconButton]="IconButton.CIRCLE_QUESTION" [tooltip]="helpIconText" [iconButtonSize]="IconButtonSize.M"> </sofie-icon-button
  ></label>
  <div class="sofie-input-with-icon">
    <input (focus)="this.setFirstKeyAfterUserFocus(true)" [readonly]="true" (keydown)="onKeyDown($event)" placeholder="Click the keys one by one" [value]="value | formatKeyboardKeys" />
    <sofie-icon-button *ngIf="value && value.length > 0" [iconButton]="IconButton.X_MARK" (click)="clearKeyboardField()" [iconButtonSize]="IconButtonSize.M"></sofie-icon-button>
  </div>
</div>
