<div
  #pieceHoverScrubElement
  (mouseenter)="emitNewHoverScrubMouseEvent($event)"
  (mousemove)="emitNewHoverScrubMouseEvent($event)"
  (mouseleave)="emitNewHoverScrubMouseEvent()"
  class="c-hover-scrub-hover-element">
</div>

<sofie-hover-scrub
  *ngIf="pieceHoverScrubElement"
  [fileName]="fileName"
  [type]="type"
  [playedDurationInMs]="playedDurationForPartInMs"
  [hoverScrubElementWidth]="pieceHoverScrubElement.clientWidth"
  [hoverScrubMouseEventObservable]="mouseHoverEventSubject.asObservable()">
</sofie-hover-scrub>
