<sofie-page i18n-title title="settings.keyboard-mappings.label">
    <sofie-card *ngIf="keyboardMappings; else loading">
        <ng-container cardHeader>
            <sofie-text-input i18n-placeholder placeholder="common-search" [(value)]="searchQuery"></sofie-text-input>
            <sofie-spacer></sofie-spacer>
            <sofie-button-group>
                <sofie-button i18n (click)="openCreateKeyboardMapping()">global.create.label</sofie-button>
                <sofie-json-export-button [exportData]="getActionTriggersFromKeyboardMappings()" [exportedFileName]="keyboardMappingsFileName"></sofie-json-export-button>
                <sofie-json-import-button (onUpload)="actionTriggersUploaded($event)" [validator]="validateActionTriggers.bind(this)"></sofie-json-import-button>
                <sofie-button *ngIf="selectedKeyboardMappings.size > 0" [type]="'DANGER'" (click)="deleteSelectedKeyboardMapping()" i18n>global.delete-selected.label</sofie-button>
            </sofie-button-group>
        </ng-container>

        <sofie-table
            [entities]="keyboardMappings"
            [headers]="headers"
            [rowTemplate]="tableRowTemplate"
            [shouldShowRowCallback]="doesKeyboardMappingMatchSearchQuery.bind(this)"
            [showCheckboxes]="true"
            [(selectedEntities)]="selectedKeyboardMappings"
        >
            <ng-template #tableRowTemplate let-keyboardMapping="tableRowData">
                <td>
                    {{ getKeyboardMappingName(keyboardMapping) }}
                </td>
                <td>
                    <sofie-rounded-box>{{ getShortcutName(keyboardMapping) }}</sofie-rounded-box>
                </td>
                <td>
                    <sofie-rounded-box class="{{ keyboardMapping.action.metadata.contentType | actionColor }}">{{ keyboardMapping.action.name }}</sofie-rounded-box>
                </td>
                <td>
                    <sofie-button-group class="align-table-data-end">
                        <sofie-icon-button [iconButton]="IconButton.PEN" [iconButtonSize]="IconButtonSize.L" i18n-tooltip tooltip="keyboard-mapping-settings-page.edit-action-panel" (click)="openEditKeyboardMapping(keyboardMapping)"></sofie-icon-button>
                        <sofie-icon-button [iconButton]="IconButton.TWO_SHEETS_COPY" [iconButtonSize]="IconButtonSize.L" i18n-tooltip tooltip="keyboard-mapping-settings-page.copy-action-panel" (click)="duplicateKeyboardMapping(keyboardMapping)"></sofie-icon-button>
                        <sofie-icon-button [iconButton]="IconButton.TRASH_CAN" [iconButtonSize]="IconButtonSize.L" i18n-tooltip tooltip="keyboard-mapping-settings-page.delete-action-panel" (click)="deleteKeyboardMapping(keyboardMapping)"></sofie-icon-button>
                    </sofie-button-group>
                </td>
            </ng-template>
        </sofie-table>
    </sofie-card>

    <ng-template #loading>
        <sofie-loading></sofie-loading>
    </ng-template>
</sofie-page>
