<sofie-settings-page [title]="title">
    <sofie-card *ngIf="actionTriggersWithAction; else loading">
        <ng-container cardHeader>
            <sofie-text-input [placeholder]="'Search'" [(value)]="actionTriggerSearchQuery"></sofie-text-input>
            <sofie-spacer></sofie-spacer>
            <sofie-button-group>
                <sofie-button i18n>global.create.label</sofie-button>
                <sofie-json-export-button [exportData]="getActionTriggersWithoutActions()" [exportedFileName]="actionTriggersFileName"></sofie-json-export-button>
                <sofie-json-import-button (onUpload)="actionTriggersUploaded($event)" [validator]="validateActionTriggers.bind(this)"></sofie-json-import-button>
                <sofie-button *ngIf="selectedActionTriggers.size > 0" [type]="'DANGER'" (click)="deleteSelectedActionTriggers()" i18n>global.delete-selected.label</sofie-button>
            </sofie-button-group>
        </ng-container>

        <sofie-table
            [entities]="actionTriggersWithAction"
            [headers]="headers"
            [rowTemplate]="tableRowTemplate"
            [shouldShowRowCallback]="doesActionTriggerMatchSearchQuery.bind(this)"
            [showCheckboxes]="true"
            [(selectedEntities)]="selectedActionTriggers"
        >
            <ng-template #tableRowTemplate let-actionTrigger="tableRowData">
                <td>
                    {{ actionTrigger.action.name }}
                </td>
                <td>
                    <sofie-rounded-box>{{ getShortcutName(actionTrigger) }}</sofie-rounded-box>
                </td>
                <td>
                    <sofie-rounded-box class="{{ actionTrigger.action.metadata.contentType | actionContentCssColor }}">{{ actionTrigger.action.name }}</sofie-rounded-box>
                </td>
                <td>
                    <sofie-button-group class="align-table-data-end">
                        <sofie-icon-button [iconButton]="IconButton.PEN" [iconButtonSize]="IconButtonSize.L" [tooltip]="'Edit Action Panel'" (click)="openEditActionTrigger(actionTrigger)"></sofie-icon-button>
                        <sofie-icon-button [iconButton]="IconButton.TWO_SHEETS_COPY" [iconButtonSize]="IconButtonSize.L" [tooltip]="'Copy Action Panel'" (click)="duplicateActionTrigger(actionTrigger)"></sofie-icon-button>
                        <sofie-icon-button [iconButton]="IconButton.TRASH_CAN" [iconButtonSize]="IconButtonSize.L" [tooltip]="'Delete Action Panel'" (click)="deleteActionTrigger(actionTrigger)"></sofie-icon-button>
                    </sofie-button-group>
                </td>
            </ng-template>
        </sofie-table>

        <hr>

        <div class="c-action-triggers__body">
            <div class="c-action-triggers__body--list" [ngClass]="{ 'c-action-triggers__body--list-open': toBeDeletedUsedAsSelectedActionTrigger || toBeDeletedIsShowingCreateActionTriggerForm }">
                <sofie-action-triggers-list [actionTriggersWithAction]="actionTriggersWithAction" [selectedActionTrigger]="toBeDeletedUsedAsSelectedActionTrigger" (onActionTriggerOpen)="selectActionTriggerForEditing($event)">
                </sofie-action-triggers-list>
            </div>
            <div *ngIf="toBeDeletedUsedAsSelectedActionTrigger || toBeDeletedIsShowingCreateActionTriggerForm" class="c-action-triggers__body--edit">
                <sofie-edit-action-triggers [actions]="actions" (onCancel)="cancelActionTrigger()" [selectedActionTrigger]="toBeDeletedUsedAsSelectedActionTrigger"></sofie-edit-action-triggers>
            </div>
        </div>
    </sofie-card>

    <ng-template #loading>
        <sofie-loading></sofie-loading>
    </ng-template>
</sofie-settings-page>
