<div class="c-header">
    <div class="c-information-row">
        <div class="c-information-row-left">
            <img class="c-information-row-left__logo" src="assets/sofie-logo.svg" style="width: 32px;" routerLink="/rundowns">
            <div class="c-information-row-left__card">
                <h4>{{rundownName.split('.')[2]}}</h4>
                <span>{{rundownName}}</span>
            </div>
        </div>


        <div class="c-information-row-right">
            <div class="c-information-row-right__card">
                <h4>Show Style Variant</h4>
                <span>variant here</span>
            </div>

            <div class="c-information-row-right__card">
                <h4>Schema</h4>
                <span>schema here</span>
            </div>

            <div class="c-information-row-right__card">
                <h4>Design</h4>
                <span>design here</span>
            </div>

            <a class="c-information-row-right__exit" title="Exit" routerLink="/rundowns">
                <svg aria-hidden="true" width="1.500em" height="1.500em" viewBox="0 0 24 24">
                    <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                          d="M12 10.5858l6.2929-6.29289 1.4142 1.41421L13.4142 12l6.2929
                       6.2929-1.4142 1.4142L12 13.4142l-6.29288 6.2929-1.41421-1.4142L10.5858
                        12 4.29291 5.70712l1.41421-1.41421L12 10.5858z">
                    </path>
                </svg>
            </a>
        </div>
    </div>
</div>
