:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 400;
  height: 100px;
  background: #343434;
}

.c-header {
  height: 75px;
  min-width: 100%;
  background-color: #252627;

  &--active {
    background: #761912;
  }
}

.c-information-row {
  padding: 5px;

  &-left {
    float: left;
    display: flex;
    gap: 20px;

    &__rundown-name {
      font-weight: normal;
      color: white;
    }

    &__logo {
      cursor: pointer;
    }
  }

  &-right {
    float: right;
    display: flex;
    gap: 40px;

    &__panel-card {
      font-weight: normal;
      color: white;
    }

    &__exit {
      color: white;
    }
  }
}

.c-panel-card {
  color: white;

  &__description {
    font-weight: bold;
  }

  &__rundown-property {
    font-weight: normal;
  }
}

