<div class="c-header" [class.c-header--active]="rundown?.isActive">
    <div class="c-information-row">

        <div class="c-information-row-left">
            <img class="c-information-row-left__logo" src="assets/sofie-logo.svg" style="width: 32px;" routerLink="/rundowns">
            <div class="c-information-row-left__rundown-name">
                <h4>{{this.getShortenedRundownName()}}</h4>
            </div>
        </div>

        <div class="c-information-row-right">
            <div class="c-panel-card">
                <span class="c-panel-card__description">Variant</span>
                <p class="c-panel-card__rundown-property"></p>
            </div>

            <div class="c-panel-card">
                <span class="c-panel-card__description">Schema</span>
                <p class="c-panel-card__rundown-property">{{getSchema()}}</p>
            </div>

            <div class="c-panel-card">
                <span class="c-panel-card__description">Design</span>
                <p class="c-panel-card__rundown-property">{{getDesign()}}</p>
            </div>

            <div class="c-panel-card">
                <span class="c-panel-card__description">Local Time</span>
                <p class="c-panel-card__rundown-property">{{ localTime | date: 'hh:mm:ss' }}</p>
            </div>

            <a class="c-information-row-right__exit" title="Exit" routerLink="/rundowns">
                <svg aria-hidden="true" width="1.500em" height="1.500em" viewBox="0 0 24 24">
                    <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                          d="M12 10.5858l6.2929-6.29289 1.4142 1.41421L13.4142 12l6.2929
                       6.2929-1.4142 1.4142L12 13.4142l-6.29288 6.2929-1.41421-1.4142L10.5858
                        12 4.29291 5.70712l1.41421-1.41421L12 10.5858z">
                    </path>
                </svg>
            </a>
        </div>
    </div>
</div>
