<sofie-dialog
  [isDialogOpen]="isEditDialogOpen"
  [dialogTitle]="dialogTitleLabel"
  (onDialogClose)="isEditDialogOpen = false"
  (onClickOpen)="isEditDialogOpen = true">
  <form class="c-form mt-5" [formGroup]="panelForm">
    <div class="c-form-field c-sofie-form-control">
      <label>{{ actionPanelNameLabel }}</label>
      <input [placeholder]="actionPanelNameLabel" [readonly]="isSubmitting" type="text" formControlName="name" />
    </div>

    <div class="c-form-field c-sofie-form-control">
      <label>{{ actionPanelFiltersLabel }}</label>
      <sofie-multi-select-old
        [selectedOptionsIds]="this.formFiltersArray.value"
        [options]="filterActionPanelOptions"
        (onItemSelectionChange)="actionPanelFiltersChange($event)"
        [placeholder]="noFiltersSelectedLabel"></sofie-multi-select-old>
    </div>

    <div class="c-form-field c-sofie-form-control">
      <label>{{ rankPanelLabel }}</label>
      <input [placeholder]="rankPanelLabel" [readonly]="isSubmitting" type="number" formControlName="rank" />
    </div>
  </form>
  <div class="c-dialog-body__actions">
    <sofie-button
      [title]="panelForm.invalid ? submitButtonTooltipError + ': ' + getFormValidationErrors : ''"
      (click)="formSubmit()"
      [disabled]="panelForm.invalid"
    >
        {{submitButtonLabel}}
    </sofie-button>

    <sofie-button (click)="isEditDialogOpen = false">{{closeLabel}}</sofie-button>
  </div>
</sofie-dialog>
