<sofie-rundown-header *ngIf="rundown" class="c-rundown-header" [rundown]="rundown"></sofie-rundown-header>

<div *ngIf="rundown?.isActive" class="test-buttons">
    <ng-container *ngIf="!rundown?.isActive; else activeRundownButtons"></ng-container>
</div>

<div *ngIf="!rundown; else loadedRundown" class='c-loading-rundown'>
  <mat-card-title>Loading the rundown...</mat-card-title>
</div>

<ng-template #activeRundownButtons>
    <button mat-raised-button color="primary" style="margin-left: 20px" (click)="takeNext()">Take Next</button>
</ng-template>

<ng-template #loadedRundown>
    <div class="c-rundown">
        <div class="segments">
            <sofie-segment
                *ngFor="let segment of rundown?.segments; trackBy: trackSegment"
                [segment]="segment"
            ></sofie-segment>
        </div>
    </div>
</ng-template>
