:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #343434;
}

.c-rundown-header {
  flex: 0 1;
  padding-bottom: 20px;
  background: linear-gradient(180deg, #252627 0%, #252627 80%, rgba(0, 0, 0, 0.02) 100%);
}

.c-rundown {
  flex: 1 1 100%;
  height: 100%;
  overflow: auto;

  &__segments {
    display: flex;
    flex-direction: column;
  }
}
