.container {
  background-color: #343434;
  display: grid;
  grid-template-columns: 80% auto;
}

.segments {
  width: 99%;
  display: flex;
  flex-direction: column;
}

sofie-segment {
  width: 100%;
}

.title {
  font-size: 2em;
}

.title, .subtitle {
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 1.5em;
}
