<sofie-rundown-header *ngIf="rundown" class="c-rundown-header" [rundown]="rundown"></sofie-rundown-header>

<div class="test-buttons">
    <button mat-raised-button *ngIf="!rundown?.isActive; else activeRundownButtons"  color="primary" style="margin-left: 20px" (click)="activateRundown()">Activate Rundown</button>
</div>

<div *ngIf="!rundown; else loadedRundown" class='c-loading-rundown'>
  <mat-card-title>Loading the rundown...</mat-card-title>
</div>

<ng-template #activeRundownButtons>
    <button mat-raised-button color="primary" style="margin-left: 20px" (click)="takeNext()">Take Next</button>
    <button mat-raised-button color="basic" style="margin-left: 2px" (click)="resetRundown()">Reset Rundown</button>
    <button mat-raised-button color="warn" style="margin-left: 2px" (click)="deactivateRundown()">Deactivate Rundown</button>
</ng-template>

<ng-template #loadedRundown>
    <div class="c-rundown">
        <div class="segments">
            <sofie-segment
                *ngFor="let segment of rundown?.segments; trackBy: trackSegment"
                [segment]="segment"
            ></sofie-segment>
        </div>
    </div>
</ng-template>
