:host {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  padding-top: 120px;
  background-color: #343434;
}

.segments {
  width: 99%;
  display: flex;
  flex-direction: column;
}

sofie-segment {
  width: 100%;
}

.title {
  font-size: 2em;
}

.title, .subtitle {
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 1.5em;
}

.c-rundown-header {

}
