:host {
  --gradient-degree: 90deg;
  --status-color-width: 5%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px var(--black-color-with-alpha);
  display: flex;
  color: var(--black-color);
}

.notification-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.text {
  padding-left: var(--status-color-width);
  overflow-wrap: break-word;
  width: calc(100% - var(--status-color-width))
}

sofie-icon-button {
  padding-right: 2px;
}
