<div style="display: none">
  <div class="c-video-hover-scrub-tooltip" #tooltipElementRef>
    <div class="c-video-hover-scrub-tooltip__description">
      <p class="c-video-hover-scrub-tooltip__description--title" [class]="type.toLocaleLowerCase() + '_color'">{{ fileName }}</p>
      <p class="c-video-hover-scrub-tooltip__description--unavailable">
        <sofie-icon-button class="material-icons c-delete-rundown-icon" [iconButton]="IconButton.TRIANGLE_EXCLAMATION" [iconButtonSize]="IconButtonSize.M"></sofie-icon-button>
        <span i18n>rundown-overview.hover-scrub.source-unavailable.label</span>
      </p>
      <p *ngIf="pieceLifespan" class="c-video-hover-scrub-tooltip__description--unavailable-transition">{{ getTranlationForPieceLifespan() }}</p>
    </div>
  </div>
</div>
