.ad-lib-piece-identifier {
  background-color: purple;
  margin: 10px;
  padding: 5px;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  cursor: pointer;
}
