<button class="custom-dropdown-button" mat-button [matMenuTriggerFor]="dropdownMenu">
  <fa-icon [icon]="iconButtonProp" [size]="iconButtonSizeProp"></fa-icon>
  <span class="custom-dropdown-button__label" *ngIf="label">{{ label }}</span>
</button>
<mat-menu class="custom-dropdown_menu" #dropdownMenu="matMenu">
  <button
    *ngFor="let option of options"
    [ngClass]="{ 'custom-dropdown_menu__selected': option.key === selectedKey }"
    [disabled]="option.disabled ? option.disabled : false"
    mat-menu-item
    (click)="onNewOptionSelected(option)">
    {{ option.label }}
  </button>
</mat-menu>
