:host {
  &.ng-invalid {
    &.ng-touched {
      input {
        border-color: var(--danger-color);
      }
    }
  }

  &.ng-valid,
  &.ng-untouched {
    sofie-error-message {
      display: none;
    }
  }
}

.color-picker {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.3rem 0.3rem;
  font-weight: lighter;
  font-size: 0.85rem;
  font-family: Roboto, Arial, sans-serif;
  border-radius: 4px;
  border: 1px solid var(--gray-color);
  cursor: pointer;

  sofie-icon-button {
    position: absolute;
    right: 10px;
    top: 8px;
  }
}

.color-box {
  height: 1.5rem;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
}

.input-text {
  padding: 0.2rem;
  font-weight: lighter;
  font-size: 0.85rem;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: lighter;
}
