:host {
  display: block;
  position: absolute;
  top: 0;
  background-color: #ff000055;
  overflow: hidden;

  .piece {
    position: relative;
    background-color: rgb(50,50,50);
    overflow: visible;
  }

  .label {
    display: block;

    height: 22px;
    padding: 2px 6px;
    color: var(--text-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    span {
      font-weight: normal;
      text-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
    }
  }

  &.camera .piece {
    background-color: #005919;
  }

  &.lower-third .piece {
    background-color: #ca9d00;
  }

  &.graphics .piece {
    background-color: #ca9d00;
  }

  &.remote .piece {
    background-color: #ac29a5;
  }

  &.video-clip .piece {
    background-color: #1769ff;
  }

  &.live-speak .piece {
    background-color: #370020;
  }

  &.local .piece {
    background-color: #8d1010;
  }

  &.manus .piece {
    font-style: italic;
    background-color: #370020;
  }

  &.split-screen {
    background: linear-gradient(to bottom,  #00a99c 0%,#00a99c 50%,#265753 50%,#265753 100%);
  }
}


