<div
  class="piece"
  [style.width.px]="widthInPixels"
  [ngClass]="pieceTypeModifierClass"
  [class.media-unavailable]="isMediaUnavailable"
  [sofieTooltip]="pieceTooltip"
  (tooltipMetadataChange)="setTooltipMetadata($event)"
>
  <div class="label" [style.margin-left.px]="labelOffsetInPixels">
    <span #labelTextElement>{{ piece.name }}</span>
  </div>
</div>

<ng-template #pieceTooltip>
    <sofie-piece-tooltip
            [piece]="piece"
            [durationInMs]="partDuration"
            [playedDurationForPartInMs]="playedDurationForPartInMs"
            [isMediaUnavailable]="isMediaUnavailable"
            [media]="media"
            [tooltipMetadata]="tooltipMetadata"
    >
    </sofie-piece-tooltip>
</ng-template>
