<div
  class="piece"
  [style.width.px]="widthInPixels"
  [ngClass]="pieceTypeModifierClass"
  [class.media-unavailable]="isMediaUnavailable()"
  sofieTooltip
  [sofieTooltipTemplate]="pieceTooltip"
  (tooltipMetadataChange)="updatePositionInVideo($event)">
  <div class="label" [style.margin-left.px]="labelOffsetInPixels">
    <span *ngIf="!piece.isSpanningSegment" #labelTextElement>{{ piece.name }}</span>
  </div>
</div>

<ng-template #pieceTooltip>
  <sofie-piece-tooltip [piece]="piece" [durationInMs]="partDuration" [media]="media" [positionInVideoInMs]="positionInVideoInMs"> </sofie-piece-tooltip>
</ng-template>
