.tooltip {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background: var(--rundown-scrollbar-color);
  height: 110px;

  .header {
    padding: 3px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px var(--black-color);

    .label {
      margin-left: 5px;
      color: var(--white-color);
      font-weight: bolder;
      font-size: 14px;
    }
  }
}

