<div class="tooltip" *ngIf="tooltipContentFields.length > 0">
  <sofie-video-hover-scrub
    *ngIf="shouldShowHoverScrub && media"
    [filename]="media.sourceName"
    [positionInVideoInMs]="positionInVideoInMs"
  >
  </sofie-video-hover-scrub>

  <div class="tooltip-body">
    <header [class]="getPieceColorClass()">
      <span class="label">{{piece.name}}</span>
    </header>

    <sofie-attention-banner *ngIf="hasPieceMedia() && !media" i18n-label label="piece-tooltip.source-unavailable.label"></sofie-attention-banner>

    <div class="content-fields">
      <div *ngFor="let field of tooltipContentFields" class="field">
        <span class="label">{{field.label}}:</span>
        <span class="value">{{field.value}}</span>
      </div>
    </div>
  </div>
</div>

