<div class="tooltip" *ngIf="tooltipContentFields.length > 0">
  <sofie-video-hover-scrub *ngIf="shouldShowHoverScrub && !isMediaUnavailable"
                           [filename]="media?.sourceName ?? piece.name"
                           [positionInVideoInMs]="positionInVideoInMs"
                           [isJingle]="tv2PieceType === Tv2PieceType.JINGLE">
  </sofie-video-hover-scrub>

  <div class="tooltip-body">
      <header [class]="getPieceColorClass()">
          <span class="label">{{piece.name}}</span>
      </header>

      <div *ngIf="isMediaUnavailable" class="source-unavailable-banner">
        <sofie-icon-button [icon]="Icon.TRIANGLE_EXCLAMATION" [iconSize]="IconSize.M"></sofie-icon-button>
        <span i18n>piece-tooltip.source-unavailable.label</span>
      </div>

      <div class="content-fields">
          <div *ngFor="let field of tooltipContentFields" class="field">
              <span class="label">{{field.label}}:</span>
              <span class="value">{{field.value}}</span>
          </div>
      </div>
  </div>
</div>

