  <div #tooltipHoverElement class="c-tooltip-hover-element"></div>

  <sofie-tooltip [tooltipElementHoverMousePosition]="tooltipElementHoverMousePosition">
    <div class="tooltip">
      <sofie-video-hover-scrub *ngIf="shouldShowHoverScrub && !isMediaUnavailable"
                               [filename]="piece.name"
                               [playedDurationInMs]="playedDurationForPartInMs"
                               [tooltipHoverElementWidth]="tooltipHoverElement.clientWidth"
                               [tooltipElementHoverMousePosition]="tooltipElementHoverMousePosition"
                               [durationInMs]="durationInMs"
                               [isJingle]="tv2PieceType === Tv2PieceType.JINGLE">
      </sofie-video-hover-scrub>

      <div class="body">
        <div class='header' [class]="getPieceType().toLocaleLowerCase() + '_color'">
          <span class="label">{{piece.name}}</span>
        </div>
        <div *ngIf="isMediaUnavailable" class="source-unavailable-banner">
          <sofie-icon-button [iconButtonSize]="IconButtonSize.M" [iconButton]="IconButton.TRIANGLE_EXCLAMATION">
          </sofie-icon-button>
          {{sourceUnavailableLabel}}
        </div>
        <sofie-tooltip-content [tooltipContentFields]="tooltipContentFields"></sofie-tooltip-content>
      </div>
    </div>
  </sofie-tooltip>

