.tooltip {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background: var(--rundown-scrollbar-color);
  max-height: 150px;

  .header {
    padding: 3px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px var(--black-color);

    .label {
      margin-left: 5px;
      color: var(--white-color);
      font-size: 14px;
    }
  }

  .source-unavailable-banner {
    display: flex;
    justify-content: center;
    gap: 10px;

    background-color: var(--orange-color);
    font-weight: lighter;
  }

  .content-fields {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;

    .field {
      padding: 5px;
      margin-top: 5px;
      max-width: 350px;

      font-size: 0.75rem;

      .label {
        color: var(--white-color);
      }

      .value {
        margin-left: 5px;
        color: var(--gray-color);
      }
    }
  }
}

