<div
  [cdkContextMenuTriggerFor]="contextMenu"
  class="piece-layers"
  [class.unsynced]="part.isUnsynced">

  <div *ngFor="let outputLayer of outputLayers" class="piece-layer">
    <ng-container *ngIf="piecesGroupedByOutputLayerThenStart[outputLayer] && Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer]).length !== 0">
      <ng-container *ngFor="let startKey of Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer]) || []; index as startKeyIndex;">
        <!-- single piece stack -->
        <sofie-offsetable-piece
          *ngIf="piecesGroupedByOutputLayerThenStart[outputLayer][+startKey] && Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer][+startKey]).length === 1"
          [piece]="piecesGroupedByOutputLayerThenStart[outputLayer][+startKey][0]"
          [pixelsPerSecond]="pixelsPerSecond"
          [partDuration]="partDurationInMs()"
          [playedDurationForPartInMs]="playedDurationInMs"
          [prePlayheadDurationInMs]="prePlayheadDurationInMs"
          [postPlayheadDurationInMs]="postPlayheadDurationInMs"
          [style.z-index]="startKeyIndex">
        </sofie-offsetable-piece>

        <!-- multiple piece stack -->
        <ng-container *ngIf="piecesGroupedByOutputLayerThenStart[outputLayer][+startKey] && Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer][+startKey]).length > 1">
          <div #pieceStackToggle class="piece-stack-toggle {{ outputLayer.toLowerCase() }}" (click)="togglePieceStack()">
            {{ getPieceStackToggleText(outputLayer, startKey) }}
          </div>
          <div class="piece-stack hidden-click">
            <sofie-offsetable-piece
              *ngFor="let piece of piecesGroupedByOutputLayerThenStart[outputLayer][+startKey]; trackBy trackPiece; index as pieceIndex"
              [piece]="piece"
              [pixelsPerSecond]="pixelsPerSecond"
              [partDuration]="partDurationInMs()"
              [playedDurationForPartInMs]="playedDurationInMs"
              [prePlayheadDurationInMs]="prePlayheadDurationInMs"
              [postPlayheadDurationInMs]="postPlayheadDurationInMs"
              [followingPieceStart]="getFollowingPieceStart(outputLayer, startKey, piece.id)"
              [style.top.px]="11*pieceIndex">
            </sofie-offsetable-piece>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<sofie-timeline-flag [label]="part.isNext ? (isAutoNextStarted ? autoLabel : nextLabel) : undefined" [turnedOn]="part.isNext"></sofie-timeline-flag>

<ng-template #contextMenu>
  <sofie-part-context-menu *ngIf="isRundownActive" [part]="part" [rundownId]="rundownId"></sofie-part-context-menu>
</ng-template>
