<div [cdkContextMenuTriggerFor]="contextMenu" class="piece-layers" [class.unsynced]="part.isUnsynced">
  <div *ngFor="let outputLayer of outputLayers" class="piece-layer">
    <sofie-offsetable-stack
      [part]="part"
      [piecesForStack]="piecesGroupedByOutputLayer[outputLayer]"
      [dataInTranzit]="dataInTranzit"
    >
    </sofie-offsetable-stack>
  </div>
</div>
<sofie-timeline-flag [label]="part.isNext ? (isAutoNextStarted ? autoLabel : nextLabel) : undefined" [turnedOn]="part.isNext"></sofie-timeline-flag>

<ng-template #contextMenu>
  <sofie-part-context-menu *ngIf="isRundownActive" [part]="part" [rundownId]="rundownId"></sofie-part-context-menu>
</ng-template>
