<div
  [cdkContextMenuTriggerFor]="contextMenu"
  class="piece-layers"
  [class.unsynced]="part.isUnsynced">

  <div *ngFor="let outputLayer of outputLayers" class="piece-layer">
    <sofie-offsetable-piece
      *ngIf="piecesGroupedByOutputLayerThenStart[outputLayer] && Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer]).length === 1"
      [piece]="piecesGroupedByOutputLayerThenStart[outputLayer][+Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer])[0]][0]"
      [pixelsPerSecond]="pixelsPerSecond"
      [partDuration]="partDurationInMs()"
      [playedDurationForPartInMs]="playedDurationInMs"
      [prePlayheadDurationInMs]="prePlayheadDurationInMs"
      [postPlayheadDurationInMs]="postPlayheadDurationInMs"
      [followingPieceStart]="undefined">
    </sofie-offsetable-piece>

    <ng-container *ngIf="piecesGroupedByOutputLayerThenStart[outputLayer] && Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer]).length > 1">
      <ng-container *ngFor="let startKey of Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer]); index as startKeyIndex">
        <sofie-offsetable-piece
          *ngIf="piecesGroupedByOutputLayerThenStart[outputLayer][+startKey] && Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer][+startKey]).length === 1"
          [piece]="piecesGroupedByOutputLayerThenStart[outputLayer][+startKey][0]"
          [pixelsPerSecond]="pixelsPerSecond"
          [partDuration]="partDurationInMs()"
          [playedDurationForPartInMs]="playedDurationInMs"
          [prePlayheadDurationInMs]="prePlayheadDurationInMs"
          [postPlayheadDurationInMs]="postPlayheadDurationInMs"
          [style.z-index]="startKeyIndex"
          [followingPieceStart]="undefined">
        </sofie-offsetable-piece>

        <ng-container *ngIf="piecesGroupedByOutputLayerThenStart[outputLayer][+startKey] && Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer][+startKey]).length > 1">
          <div class="piece-stack-toggle">
            {{ piecesGroupedByOutputLayerThenStart[outputLayer][+startKey].join(', ') }}
          </div>
          <sofie-offsetable-piece
            *ngFor="let piece of piecesGroupedByOutputLayerThenStart[outputLayer][+startKey]; index as pieceIndex"
            [piece]="piece"
            [pixelsPerSecond]="pixelsPerSecond"
            [partDuration]="partDurationInMs()"
            [playedDurationForPartInMs]="playedDurationInMs"
            [prePlayheadDurationInMs]="prePlayheadDurationInMs"
            [postPlayheadDurationInMs]="postPlayheadDurationInMs"
            [followingPieceStart]="pieceIndex < Object.keys(piecesGroupedByOutputLayerThenStart[outputLayer][+startKey]).length ? piecesGroupedByOutputLayerThenStart[outputLayer][+startKey][pieceIndex+1].start : undefined">
          </sofie-offsetable-piece>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<sofie-timeline-flag [label]="part.isNext ? (isAutoNextStarted ? autoLabel : nextLabel) : undefined" [turnedOn]="part.isNext"></sofie-timeline-flag>

<ng-template #contextMenu>
  <sofie-part-context-menu *ngIf="isRundownActive" [part]="part" [rundownId]="rundownId"></sofie-part-context-menu>
</ng-template>
