:host {
  white-space: nowrap;

  .stack-label {
    position: relative;
    display: block;
    height: 22px;
    padding: 2px 6px;

    font-weight: normal;
    text-shadow: var(--gradient-black-rgba-with-08-opacity-color) 0 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: var(--text-color);
    background-color: var(--background-color);
  }

  .hidden {
    display: none;
  }

  .stack-pieces {
    position: absolute;

    top: 9px;
    left: 0;

    display: flex;
    flex-direction: column;

    background: transparent;
    Z-index: 22;
  }

  .piece-in-stack {
    width: 100%;

    padding: 0 5px;
    margin: 0;
    vertical-align: top;

    font-size: 0.7em;
    font-weight: lighter;
    color: var(--white-color);
    text-shadow: var(--gradient-black-rgba-with-08-opacity-color) 0 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;

    border: solid 1px var(--background-color);
    border-radius: 5px;
  }

  .program {
    background-color: var(--green-color);
  }

  .camera {
    background-color: var(--tv2-camera-color);
  }

  .lower-third {
    background-color: var(--tv2-graphics-color);
  }

  .graphics {
    background-color: var(--tv2-graphics-color);
  }

  .remote {
    background-color: var(--tv2-remote-color);
  }

  .local {
    background-color: var(--tv2-replay-color);
  }

  .manus {
    font-style: italic;
    background-color: var(--tv2-manus-color);
  }

  .split-screen {
    background: linear-gradient(to bottom, var(--tv2-split-screen-upper) 0%, var(--tv2-split-screen-upper) 50%, var(--tv2-split-screen-lower) 50%, var(--tv2-split-screen-lower) 100%);
  }

  .voice-over {
    background-color: var(--tv2-camera-color);
  }

  .replay {
    background-color: var(--tv2-replay-color);

    .voice-over {
      background: linear-gradient(to bottom, var(--tv2-replay-color) 0%, var(--tv2-replay-color) 50%, var(--tv2-camera-color) 50%, var(--tv2-camera-color) 100%);
    }
  }

}

