<div *ngFor="let stackKey of pieceStack.stackKeys">
  <div
    *ngIf="pieceStack.stacks[stackKey].length > 1"
    [class]="'stack-label ' + outputLayer.toLowerCase()"
    (click)="toggleStackPieces()"
  >{{ pieceStack.piecesNames.join(', ') }}</div>
  <div #stackPieces
       [class]="(pieceStack.stacks[stackKey].length > 1 ? 'hidden': '')"
  >
      <span
        [class]="outputLayer.toLowerCase() + ' piece-in-stack'"
        *ngFor="let piece of pieceStack.stacks[stackKey] trackBy: trackPiece"
      >{{ piece.name }}</span>
  </div>
</div>