<div class="c-context-menu" cdkMenu>
    <ng-container *ngIf="rundown?.isActive; then activeButtons; else inactiveButtons"></ng-container>

    <button class="c-context-menu-item" cdkMenuItem (click)="resetRundown()">Reset Rundown</button>
    <button class="c-context-menu-item" cdkMenuItem>Reload iNews Data</button>
    <button class="c-context-menu-item" cdkMenuItem>Store Snapshot</button>
    <button class="c-context-menu-item"></button>

    <ng-template #inactiveButtons>
        <button class="c-context-menu-item" cdkMenuItem (click)="activate()">Activate</button>
    </ng-template>

    <ng-template #activeButtons>
        <button class="c-context-menu-item" cdkMenuItem (click)="deactivate()">Deactivate</button>
        <button class="c-context-menu-item" cdkMenuItem (click)="take()">Take</button>
    </ng-template>
</div>
