/* You can add global styles to this file, and also import other style files */
@import './scss/sofie-color-vars';
@import './scss/sofie-colors';
@import './scss/sofie-page';
@import './scss/sofie-forms';
@import 'scss/sofie-tooltip-hover';
@import './palettes.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;

  & *::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
    background-color: var(--scrollbar-color);
  }

  & *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
