.camera_color {
  background-color: $sofie-camera-color;
  color: #fff;
}
.remote_color {
  background-color: $sofie-remote-color;
  color: #fff;
}
.video_clip_color {
  background-color: $sofie-video-clip-color;
  color: #fff;
}
.transition_color {
  background-color: $sofie-transition-color;
  color: #fff;
}
.graphics_color {
  background-color: $sofie-graphics-color;
}
.audio_color {
  background-color: $sofie-audio-color;
  color: #fff;
}
.split_screen_color {
  background: $sofie-split-screen-gradient;
  color: #fff;
}
.replay_color {
  background: $sofie-replay-color;
  color: #fff;
}
