body {
  ---primary-color: #1f9ac7;
  --danger-color: #df0606;
  --white-color: #ffffff;
  --gray-color: #cccccc;
  --dark-gray-color: #777777;
  --black-color: #000000;
  --dark-color: #3a3a3a;
  --background-color: #343434;
  --green-color: green;
  --yellow-color: yellow;
  --orangered-color: orangered;

  --on-air-color: #c40000;
  --next-color: #00ac17;

  --tv2-camera-color: #005919;
  --tv2-replay-color: #8d1010;
  --tv2-remote-color: #ac29a5;
  --tv2-graphics-color: #ca9d00;
  --tv2-overlay-graphics-color: #ca9d00;
  --tv2-split-screen-upper: #00a99c;
  --tv2-split-screen-lower: #265753;
  --tv2-voice-over-color: #370020;
  --tv2-video-clip-color: #1769ff;
  --tv2-manus-color: #370020;
}
