.sidebar-dialog {
  .mat-dialog-container {
    padding: 0 !important;
    border-radius: 0 !important;
    width: 500px !important;
  }
}

.cdk-global-scrollblock {
  overflow-y: hidden !important;
}
