body {
  --general-primary-color: #1f9ac7;
  --general-danger-color: #df0606;
  --general-white-color: #ffffff;
  --general-gray-color: #d3d3d3;
  --general-black-color: #000000;
  --general-dark-color: #343434;
  --general-live-color: #c40000;
  --general-next-color: #00ac17;

  --general-live-remote-color: #ac29a5;
  --general-live-guest-color: #00a97f;

  --segment-layer-background-camera: #005919;
  --segment-layer-background-camera--second: lighten(#005919, 20%);
  --segment-layer-background-lower-third: #ca9d00;
  --segment-layer-background-lower-third--second: darken(#ca9d00, 20%);
  --segment-layer-background-graphics: #ca9d00;
  --segment-layer-background-graphics--second: darken(#ca9d00, 20%);
  --segment-layer-background-live-speak: #370020;
  --segment-layer-background-remote: #ac29a5;
  --segment-layer-background-remote--second: darken(#ac29a5, 20%);
  --segment-layer-background-local: #8d1010;
  --segment-layer-background-local--second: darken(#8d1010, 20%);
  --segment-layer-background-vt: #1769ff;
  --segment-layer-background-vt--second: darken(#1769ff, 20%);
  --segment-layer-background-script: #370020;
  --segment-layer-background-mic: #00a97f;
  --segment-layer-background-guest: #00a97f;

  --dve-upper: #00a99c;
  --dve-lower: #265753;

  --presenter-clock-background-color: #2c2c2e;
  --presenter-clock-panel-background-color-neutral: #3c3c3c;
  --presenter-clock-panel-border-color: #ffffff;
}
