.camera-color {
  background-color: var(--tv2-camera-color) !important;
  color: var(--white-color);
}

.remote-color {
  background-color: var(--tv2-remote-color) !important;
  color: var(--white-color);
}

.video-clip-color {
  background-color: var(--tv2-video-clip-color) !important;
  color: var(--white-color);
}

.split-screen-color {
  background: linear-gradient(to bottom, var(--tv2-split-screen-upper) 0%, var(--tv2-split-screen-upper) 50%, var(--tv2-split-screen-lower) 50%, var(--tv2-split-screen-lower) 100%) !important;
  color: var(--white-color);
}

.graphics-color {
  background-color: var(--tv2-graphics-color) !important;
}

.replay-color {
  background-color: var(--tv2-replay-color) !important;
  color: var(--white-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-white {
  color: var(--white-color);
}
