.snackbar-danger {
  background: var(--danger-color);
  color: var(--white-color);

  .mat-button-wrapper {
    color: var(--orangered-color);
  }
}

.snackbar-warning {
  background: var(--yellow-color);
  color: var(--black-color);

  .mat-button-wrapper {
    color: var(--black-color);
  }
}

.snackbar-success {
  background: var(--green-color);
  color: var(--white-color);

  .mat-button-wrapper {
    color: var(--white-color);
  }
}
