$sofie-primary: #1f9ac7;
$sofie-danger: #df0606;
$sofie-white: #ffffff;
$sofie-black: #000000;
$sofie-gray: #d3d3d3;
$sofie-dark: #464646;

$sofie-camera-color: #005919;
$sofie-remote-color: #ac29a5;
$sofie-video-clip-color: #1769ff;
$sofie-transition-color: #1a7a42;
$sofie-graphics-color: #ca9d00;
$sofie-audio-color: #9e0358;
$sofie-split-screen-gradient: linear-gradient(to bottom, #00a99c 0%, #00a99c 50%, #265753 50%, #265753 100%);
$sofie-replay-color: #8d1010;
