.c-segment {
  display: flex;
  margin: 4px 20px;
  overflow: hidden;
  border-radius: 10px;

  box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);

  --toolbar-height: 30px;

  &__header {
    flex: 0;
    min-width: 270px;
    background-color: rgb(75,75,75);
    transition: background-color .2s;
  }

  &--set-as-next &__header {
    background-color: #00ac17;
  }

  &--on-air &__header {
    background-color: #c40000;
  }

  &__header-toolbar {
    height: var(--toolbar-height);
    background: black;
    color: var(--text-color);
    padding: 8px;
  }

  &__title {
    padding: 7px;
    color: var(--text-color);
    font-size: 1.4em;
    font-weight: normal;
  }

  &__controls {
    flex: 0;
    min-width: 160px;
    background-color: black;
  }

  &__controls-toolbar {
    height: var(--toolbar-height);
  }

  &__piece-layer {
    color: #888888;
    padding: 2px 0 2px 20px;
    font-weight: bold;
    height: 24px;
  }

  &__timeline {
    overflow: hidden;
  }
  &__budget-duration {
    margin-left: 50px;
  }
}

