<div class="segment ms-4 me-4 mt-1 mb-2"
  [class.on-air]="segment.isOnAir"
  [class.is-next]="segment.isNext"
  [class.remote-piece]="hasRemotePiece"
>
  <div [cdkContextMenuTriggerFor]="contextMenu" class="header">
    <div class="header-toolbar">
      <span class="reference-tag">
        {{ segment.referenceTag }}
      </span>
      <span class="expected-duration">{{(!segment.isUntimed ? expectedDurationInMs : 0) | timer: 'HH?:mm:ss' }}</span>
      <span class="countdown">
        <sofie-countdown-label
          *ngIf="hasRemotePiece && roundedDurationInMsUntilSegmentIsPutOnAir !== undefined"
          [durationInMs]="roundedDurationInMsUntilSegmentIsPutOnAir"
          [currentEpochTime]="currentEpochTime"
        ></sofie-countdown-label>
      </span>
    </div>

    <sofie-attention-banner *ngIf="segment.isUnsynced" i18n-label label="segment.unsynced.label"></sofie-attention-banner>

    <div class="title">
      {{ segment.name }}
    </div>
  </div>
  <div class="controls">
    <div class="controls-toolbar">
      <sofie-icon-button [icon]="Icon.MINUS" [iconSize]="IconSize.S" (click)="zoomIn()" [disabled]="isAtMinimumZoomLevel()" title="Zoom out"></sofie-icon-button>
      <sofie-icon-button [icon]="Icon.HORIZONTAL_ARROWS" [iconSize]="IconSize.S" (click)="resetZoom()" title="Reset zoom"></sofie-icon-button>
      <sofie-icon-button [icon]="Icon.PLUS" [iconSize]="IconSize.S" (click)="zoomOut()" title="Zoom in"></sofie-icon-button>
    </div>
    <div class="piece-layers">
      <div *ngFor="let outputLayer of outputLayers" class="piece-layer">
        {{ outputLayer }}
      </div>
    </div>
  </div>


  <sofie-scrollable-timeline
    *ngIf="!segment.isOnAir; else onAirTimeline"
    class="timeline"
    [segment]="segment"
    [outputLayers]="outputLayers"
    [isRundownActiveOrRehearsal]="isRundownActiveOrRehearsal"
    [isAutoNextStarted]="isAutoNextStarted"
    [pixelsPerSecond]="pixelsPerSecond"
  ></sofie-scrollable-timeline>

  <ng-template #onAirTimeline>
    <sofie-follow-playhead-timeline
      class="timeline"
      [time]="timeReference"
      [segment]="segment"
      [outputLayers]="outputLayers"
      [isRundownActiveOrRehearsal]="isRundownActiveOrRehearsal"
      [isAutoNextStarted]="isAutoNextStarted"
      [pixelsPerSecond]="pixelsPerSecond"
      [remainingDurationInMsForOnAirPart]="remainingDurationInMsForOnAirPart"
    ></sofie-follow-playhead-timeline>
  </ng-template>
</div>

<ng-template #contextMenu>
  <sofie-segment-context-menu *ngIf="isRundownActiveOrRehearsal" [segment]="this.segment"></sofie-segment-context-menu>
</ng-template>
