<div class="c-segment" [class.c-segment--on-air]="segment.isOnAir" [class.c-segment--set-as-next]="segment.isNext">
  <div [cdkContextMenuTriggerFor]="contextMenu" class="c-segment__header">
    <div class="c-segment__header-toolbar">
      <span>123</span>
      <span class="c-segment__budget-duration">{{segment.budgetDuration ?? 0 | timestamp }}</span>
    </div>
    <div class="c-segment__title">
      {{ segment.name }}
    </div>
  </div>
  <div class="c-segment__controls">
    <div class="c-segment__controls-toolbar">Hello</div>
    <div class="c-segment__piece-layers">
      <div *ngFor="let pieceLayer of pieceLayers" class="c-segment__piece-layer">
        {{ pieceLayer }}
      </div>
    </div>
  </div>


  <sofie-scrollable-timeline
    *ngIf="!segment.isOnAir; else onAirTimeline"
    class="c-segment__timeline"
    [segment]="segment"
    [pieceLayers]="pieceLayers"
    [isRundownActive]="isRundownActive"
  ></sofie-scrollable-timeline>

  <ng-template #onAirTimeline>
    <sofie-follow-playhead-timeline
      class="c-segment__timeline"
      [time]="timeReference"
      [segment]="segment"
      [pieceLayers]="pieceLayers"
      [isRundownActive]="isRundownActive"
    ></sofie-follow-playhead-timeline>
  </ng-template>
</div>

<ng-template #contextMenu>
  <sofie-segment-context-menu [segment]="this.segment"></sofie-segment-context-menu>
</ng-template>
