<sofie-timeline-markers
    [time]="time - playheadInAnimationDurationInMs | maximum: 0"
    [pixelsPerSecond]="pixelsPerSecond"
></sofie-timeline-markers>

<div class="parts">
    <sofie-offsetable-part
            style="background-color: blue;"
            *ngFor="let previousPart of previousParts"
            [part]="previousPart"
            [pixelsPerSecond]="pixelsPerSecond"
            [offsetDurationInMs]="getPreviousPartOffsetInMs(previousPart)"
            [minimumDisplayDurationInMs]="0"
    ></sofie-offsetable-part>

    <sofie-offsetable-part
            *ngIf="onAirPart"
            [part]="onAirPart"
            [pixelsPerSecond]="pixelsPerSecond"
            [offsetDurationInMs]="time - playheadInAnimationDurationInMs | maximum: 0"
            [minimumDisplayDurationInMs]="playheadInAnimationDurationInMs + postPlayheadDurationInMs"
    ></sofie-offsetable-part>

    <sofie-offsetable-part
            *ngFor="let futurePart of futureParts"
            [part]="futurePart"
            [pixelsPerSecond]="pixelsPerSecond"
            [offsetDurationInMs]="0"
            [minimumDisplayDurationInMs]="3000"
    ></sofie-offsetable-part>
</div>

<sofie-timeline-playhead
        [time]="time | minimum: playheadInAnimationDurationInMs"
        [pixelsPerSecond]="pixelsPerSecond"
></sofie-timeline-playhead>















<!--<sofie-timeline-markers
    [time]="time - playheadInsetDuration | maximum: 0"
    [pixelsPerSecond]="pixelsPerSecond"
></sofie-timeline-markers>

<div style="display: inline-flex;">

    <sofie-part
        *ngIf="previousParts.length > 0"
        [rundownId]="segment.rundownId"
        [part]="previousParts[0]"
        [pieceLayers]="pieceLayers"
        [pixelsPerSecond]="pixelsPerSecond"
        [time]="time"
        [minimumDisplayDuration]="0"
        [timeOffset]="getFirstPreviousPartTimeOffset(previousParts[0])"
    ></sofie-part>
    <sofie-part
        *ngFor="let previousPart of previousParts.slice(1)"
        [rundownId]="segment.rundownId"
        [part]="previousPart"
        [pieceLayers]="pieceLayers"
        [pixelsPerSecond]="pixelsPerSecond"
        [time]="previousPart.isOnAir ? time : 0"
        [minimumDisplayDuration]="0"
        [timeOffset]="0"
    ></sofie-part>
    <sofie-part
        *ngIf="onAirPart"
        [rundownId]="segment.rundownId"
        [part]="onAirPart"
        [pieceLayers]="pieceLayers"
        [pixelsPerSecond]="pixelsPerSecond"
        [time]="0"
        [minimumDisplayDuration]="this.playheadInsetDuration + this.playheadPostDisplayDuration"
        [timeOffset]="onAirPartTimeOffset"
    ></sofie-part>
    <sofie-part
        *ngFor="let part of futureParts"
        class="c-follow-playhead-timeline-component"
        [rundownId]="segment.rundownId"
        [part]="part"
        [pieceLayers]="pieceLayers"
        [pixelsPerSecond]="pixelsPerSecond"
        [time]="0"
    ></sofie-part>
    <sofie-segment-end-indicator
            [lastPartInSegment]="segment.parts[segment.parts.length - 1]"
    ></sofie-segment-end-indicator>
</div>

<sofie-timeline-playhead
    [time]="time | minimum: playheadInsetDuration"
    [pixelsPerSecond]="pixelsPerSecond"
></sofie-timeline-playhead>

-->
