.c-edit-actions-triggers {
  padding-left: 1rem;
  border-left: 1px solid var(--general-gray-color);
  height: 100%;
  & h4 {
    margin-top: 0;
    font-size: 2rem;
  }

  &__form {
    display: flex;
    & > div {
      flex: 0 0 35%;
      display: flex;
      flex-direction: column;
    }
    &--field {
      width: 100%;
    }
    &--selected-action {
      margin-top: 3px;
      background-color: rgb(50, 50, 50);
      color: #fff;
    }
    &--buttons {
      margin-top: auto;
      & button {
        display: block;
        margin-bottom: 1rem;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
