<div #tooltipHoverElement (mouseenter)="emitNewHoverMouseEvent($event)" (mousemove)="emitNewHoverMouseEvent($event)" (mouseleave)="emitNewHoverMouseEvent()" class="c-hover-scrub-hover-element"></div>

<sofie-tooltip *ngIf="tooltipHoverElement" [tooltipElementHoverMouseEventObservable]="mouseHoverEventSubject.asObservable()">
  <sofie-video-hover-scrub [fileName]="fileName" [tooltipHoverElementWidth]="tooltipHoverElement.clientWidth" [type]="type" [tooltipHoverMouseEventObservable]="mouseHoverEventSubject.asObservable()">
  </sofie-video-hover-scrub>
</sofie-tooltip>
