:host {
  display: flex;
}
.piece {
  height: 22px;
  border: solid 1px green;
  padding: 3px;
  margin: 1px 0;
  background: blue;
  color: white;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
