:host {
  display: flex;
}

.piece {
  height: 22px;
  padding: 3px;
  margin: 1px 0;
  background-color: rgb(50,50,50);
  position: absolute;
  overflow: hidden;
}

.piece--text {
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  font-weight: normal;
  text-shadow: rgba(0,0,0, 0.8) 0 0 8px;
}

.extend {
  text-align: right;
  margin-right: 5px;
}

.piece--camera {
  background-color: #005919;
}

.piece--lower-third {
  background-color: #ca9d00;
  overflow: visible;
}

.piece--graphics {
  background-color: #ca9d00;
  overflow: visible;
}

.piece--remote {
  background-color: #ac29a5;
}

.piece--clip {
  background-color: #1769ff;
}

.piece--live-speak {
  background-color: #370020;
}

.piece--local {
  background-color: #8d1010;
}

.piece--manus {
  font-style: italic;
  background-color: #370020;
}

.piece--dve {
  background: linear-gradient(to bottom,  #00a99c 0%,#00a99c 50%,#265753 50%,#265753 100%);
}
