<sofie-timeline-markers
    class="c-full-segment-timeline__markers"
    [time]="0"
    [pixelsPerSecond]="pixelsPerSecond"
></sofie-timeline-markers>
<div class="c-full-segment-timeline__parts">
    <sofie-part
            *ngFor="let part of segment.parts"
            [rundownId]="segment.rundownId"
            [part]="part"
            [pieceLayers]="pieceLayers"
            [pixelsPerSecond]="pixelsPerSecond"
            [isOnAir]="part.isOnAir"
            [time]="part.isOnAir ? time : 0"
    ></sofie-part>
</div>
<sofie-timeline-playhead
    *ngIf="segment.isOnAir"
    class="c-full-segment-timeline__playhead"
    [pixelsPerSecond]="pixelsPerSecond"
    [time]="time"
></sofie-timeline-playhead>
<sofie-editorial-line
    *ngIf="segment.budgetDuration"
    [budgetDuration]="segment.budgetDuration"
    [pixelsPerSecond]="pixelsPerSecond"
></sofie-editorial-line>
