<sofie-timeline-markers
    class="c-full-segment-timeline__markers"
    [time]="0"
    [pixelsPerSecond]="pixelsPerSecond"
></sofie-timeline-markers>
<div class="c-full-segment-timeline__parts">
    <sofie-part
            *ngFor="let part of segment.parts"
            [rundownId]="segment.rundownId"
            [part]="part"
            [pieceLayers]="pieceLayers"
            [pixelsPerSecond]="pixelsPerSecond"
            [time]="part.isOnAir ? time : 0"
    ></sofie-part>
    <sofie-segment-end-indicator
            [lastPartInSegment]="segment.parts[segment.parts.length - 1]"
    ></sofie-segment-end-indicator>
</div>
<sofie-timeline-playhead
    *ngIf="segment.isOnAir"
    class="c-full-segment-timeline__playhead"
    [pixelsPerSecond]="pixelsPerSecond"
    [time]="segment.isOnAir ? time : 0"
></sofie-timeline-playhead>
