<sofie-timeline-markers
    [time]="time - prePlayheadDurationInMs | maximum: 0"
    [pixelsPerSecond]="pixelsPerSecond"
></sofie-timeline-markers>

<div class="parts">
    <sofie-offsetable-part
            *ngFor="let previousPart of previousParts; trackBy: trackPart"
            [part]="previousPart"
            [outputLayers]="outputLayers"
            [pixelsPerSecond]="pixelsPerSecond"
            [offsetDurationInMs]="getPreviousPartOffsetInMs(previousPart)"
            [rundownId]="segment.rundownId"
            [isRundownActive]="isRundownActive"
    ></sofie-offsetable-part>

    <sofie-offsetable-part
            *ngIf="onAirPart"
            [part]="onAirPart"
            [outputLayers]="outputLayers"
            [pixelsPerSecond]="pixelsPerSecond"
            [offsetDurationInMs]="getOnAirPartOffsetInMs()"
            [prePlayheadDurationInMs]="this.prePlayheadDurationInMs"
            [postPlayheadDurationInMs]="postPlayheadDurationInMs"
            [rundownId]="segment.rundownId"
            [isRundownActive]="isRundownActive"
    ></sofie-offsetable-part>

    <sofie-offsetable-part
            *ngFor="let futurePart of futureParts; trackBy: trackPart"
            [part]="futurePart"
            [outputLayers]="outputLayers"
            [pixelsPerSecond]="pixelsPerSecond"
            [offsetDurationInMs]="0"
            [rundownId]="segment.rundownId"
            [isRundownActive]="isRundownActive"
    ></sofie-offsetable-part>

    <sofie-segment-end-indicator
            [lastPartInSegment]="segment.parts[segment.parts.length - 1]"
    ></sofie-segment-end-indicator>
</div>

<sofie-timeline-playhead
        [time]="time | minimum: prePlayheadDurationInMs"
        [pixelsPerSecond]="pixelsPerSecond"
        [timerDurationInMs]="remainingDurationInMsForOnAirPart"
></sofie-timeline-playhead>

<sofie-editorial-line
    *ngIf="segment.expectedDurationInMs !== undefined && time - prePlayheadDurationInMs <= segment.expectedDurationInMs"
    [expectedDurationInMs]="segment.expectedDurationInMs"
    [pixelsPerSecond]="pixelsPerSecond"
    [offsetInMs]="time - prePlayheadDurationInMs | maximum: 0"
></sofie-editorial-line>
